<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}">
<link rel="canonical" href="{{site.url}}{{page.permalink}}"/>
<link rel="alternative" href="{{site.url}}{{page.permalink}}index.html"/>
<!--<link rel="alternative" href="{{site.url}}{{page.permalink}}/index.html"/>-->
<link rel="shortcut icon" type="image/ico" href="{{site.url}}/favicon.png">
<meta property="og:locale" content="ru-UA"/>

