
$primaryColor: #000;
$secondaryColor: #ccc;

$fontPrimaryColor: #cccc;
$fontSecondaryColor: #000;

$fontPrimaryColor: #cccc;
$fontSecondaryColor: #000;

$primaryFont: Aria, sans-serif;
$secondaryFont: Roboto, sans-serif;


$super: red;
