
<div class="breadcrumb section section--white section--s">
  <div class="container">
    <div class="breadcrumb__wrapper">
      <ul itemscope itemtype="https://schema.org/BreadcrumbList">
        <li class="breadcrumb__item"
            itemprop="itemListElement" itemscope
            itemtype="https://schema.org/ListItem"
        >
          <a href="/" itemprop="item">
                            <span itemprop="name">
                                Главная
                            </span>
          </a>
          <meta itemprop="position" content="1" />
        </li>
        <li class="breadcrumb__item">
            <a href="{{ page.breadcrumbs_parent-url }}" itemprop="item" >
                <span itemprop="name">
                    {{ page.breadcrumbs_parent-name }}
                </span>
            </a>
          <meta itemprop="position" content="2" />
        </li>
          {% if page.breadcrumbs_child-url %}
          <li class="breadcrumb__item">
              <a href="{{ page.breadcrumbs_child-url }}" itemprop="item" >
                <span itemprop="name">
                    {{ page.breadcrumbs_child-name }}
                </span>
              </a>
              <meta itemprop="position" content="3" />
          {% endif %}

        </li>
        <li class="breadcrumb__item active">
            <span itemprop="name">
                {{ page.breadcrumbs_current }}
            </span>
            <meta itemprop="position" content="
                {% if page.breadcrumbs_child-url %}
                    4
                {% else %}
                    3
                {% endif %}
                " />
        </li>
      </ul>
    </div>
  </div>
</div>