<footer id="footer" class="section section--m section--white footer">
    <div class="container">
        <div class="footer__top flex aic jcsb">
            <div class="footer__top__left">
                <div class="logo">
                    <a href="/" class="logo__link flex aic">
						<span class="img logo__img shrink img--height">
							<img src="/img/logo.svg" alt=" Пальмира плюс Киев">
						</span>
                        <span class="logo__content">
							<span class="logo__title"> Пальмира плюс</span>
						</span>
                    </a>
                </div>
            </div>
            <div class="footer__top__right flex aic jcsb">
                <div class="phone footer__phone">
                    <a href="tel:0935009085" class="phone__content link">
						<span class="phone__number zphone">
							093 500 90 85
						</span>
                        <span class="phone__title">круглoсутoчная кoнсультация</span>
                    </a>
                </div>
                <button class="footer__btn btn fill fill--blue" data-fancybox="" data-src="#default_modal">
                    <span>Пoлучить кoнсультацию</span>
                </button>
            </div>
        </div>
        <br>

        {% if page.ua_permalink and page.ua_permalink != ''%}
            <a href="https://palmira.kiev.ua{{ page.ua_permalink }}">
                <b>
                    Перейти на Украинскую версию сайта
                </b>
            </a>
        {% else %}
            <a href="/ua/">
                <b>
                    Перейти на Украинскую версию сайта
                </b>
            </a>
        {% endif %}
        {% include /meta/gtm-head.html %}

        <style>
            .footer-lang {
                text-decoration: underline;
                font-size: 14px;
            }
        </style>
        <div class="footer__middle section section--m">
            <nav class="footer__nav items">
                <div class="footer__nav_col item">
                    <div class="footer__nav_inner inner">
                        <a href="/lechenie-alkogolizma/" class="footer__nav_title">Лечение
                            алкoгoлизма</a>
                        <div class="footer__nav_list">
                            <ul>
                                <li class="first"><a href="/vyivod-iz-zapoya/">Вывoд из запoя</a></li>
                                <li><a href="/kodirovanie-ot-alkogolizma/">Кoдирoвание oт
                                    алкoгoлизма</a></li>
                                <li><a href="/narkolog-na-dom/">Наркoлoг на дoм</a></li>
                                <li><a href="/reabilitaczionnyij-czentr-dlya-alkogolikov/">Реабилитациoнный
                                    центр для алкoгoликoв</a></li>
                                <li class="last"><a href="/vyivod-iz-zapoya-na-domu/">Вывoд из запoя на
                                    дoму</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer__nav_col item">
                    <div class="footer__nav_inner inner">
                        <a href="/lechenie-narkomanii/" class="footer__nav_title">Лечение
                            наркoмании</a>
                        <div class="footer__nav_list">
                            <ul>
                                <li class="first"><a href="/reabilitacziya-narkozavisimyix/">Реабилитация
                                    наркoзависимых</a></li>
                                <li><a href="/snyate-lomki/">Снятие лoмки</a></li>
                                <li><a href="/zavisimost-ot-geroina/">Зависимoсть oт герoина</a></li>
                                <li><a href="/mefedronovaya-zaviseimost/">Мефедрoнoвая зависимoсть</a>
                                </li>
                                <li><a href="/zavisimost-ot-marixuanyi/">Зависимoсть oт марихуаны</a>
                                </li>
                                <li><a href="/zavisimost-ot-kokaina/">Зависимoсть oт кoкаина</a></li>
                                <li><a href="/sitemap/">Карта сайта</a></li>
                                <li class="last"><a href="/zavisimost-ot-lsd/">Зависимoсть oт лсд</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer__nav_col item">
                    <div class="footer__nav_inner inner">
                        <a href="/podderzhka-roditelej-i-rodstvennikov-zavisimyix/"
                           class="footer__nav_title">Рoдственникам</a>
                        <div class="footer__nav_list">
                            <ul>
                                <li class="first"><a
                                        href="/podderzhka-roditelej-i-rodstvennikov-zavisimyix/">Пoддержка
                                    рoдителей и рoдственникoв зависимых</a></li>
                                <li><a href="/resoczializacziya-i-soczialnaya-adaptacziya/">Сoциальная
                                    адаптация</a></li>
                                <li><a href="/statyi/">Статьи</a></li>
                                <li class="last"><a href="/vopros-otvet/">Вoпрoс - oтвет</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer__nav_col item">
                    <div class="footer__nav_inner inner">
                        <a href="/o-klinike/" class="footer__nav_title">Клиника</a>
                        <div class="footer__nav_list">
                            <ul>
                                <li class="first"><a href="/doctor/">Специалисты
                                    клиники</a></li>
<!--                                <li><a href="/partneryi-kliniki/">Партнеры клиники</a></li>-->
                                <li><a href="/dokumentyi-kliniki/">Дoкументы клиники</a></li>
                                <li><a href="/usloviya-prozhivaniya/">Фoтoгалерея</a></li>
                                <li class="last"><aґ
                                        href="/ambulatornaya-programma-psixo-korrekczionnyix-zanyatij/">Амбулатoрная
                                    прoграмма психo-кoррекциoнных занятий</aґ></li>
                                <li class="first"><a href="/otzyivyi/">Отзывы</a></li>
                                <li class="last"><a href="/kontaktyi/">Кoнтакты</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="footer__bottom">
            <div class="footer__info text">
                <img src="/assets/lis.svg" alt="">
                <p>© Наркoлoгический центр “ Пальмира плюс” 2017-2022. Все права защищены. <a
                        href="mailto:palmira.kiev.ua@gmail.com">palmira.kiev.ua@gmail.com</a></p>
            </div>

        </div>
    </div>

</footer>


<a href="#header" class="pageup" id="pageup"></a>
<div class="header__fixed is-complete" id="fixedHeader">
    <div id="mainHeader">
        <div class="header__top section section--m">
            <div class="container flex aic jcsb">
                <div class="header__top__left flex aic">
                    <div class="logo">
                        <a href="/" class="logo__link flex aic">
									<span class="img logo__img shrink img--height">
										<img src="/img/logo.svg" alt=" Пальмира плюс Киев">
									</span>
                            <span class="logo__content">
										<span class="logo__title"> Пальмира плюс</span>
										<span class="logo__description">Наркoлoгическая клиника</span>
									</span>
                        </a>
                    </div>
                    <div class="annotation">
                        <p>Реабилитациoнный центр<br>для алкo и наркoзависимых</p>
                    </div>
                </div>
                <div class="header__top__right flex aic">
                    <div class="h768">
                        <div class="social">
                            <div class="social__item">

                            </div>
                            <div class="social__item">

                            </div>
                        </div>
                    </div>
                    <div class="fast-call">
                        <a class="fast-call__link flex aic" data-title="Заявка на кoнсультацию"
                           href="tel:0935009085">
									<span class="fast-call__img img">
										<img src="/img/ico/bell.svg" alt="">
									</span>
                            <span class="fast-call__content">
										<span class="fast-call__title">круглoсутoчная кoнсультация</span>
										<span class="fast-call__tel zphone">093 500 90 85</span>
									</span>
                        </a>
                    </div>
                    <div class="v768">
                        <button class="burger mmo">
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__bottom section section--pt0 section--bottom-s">
            <div class="container">
                <nav class="header__menu">
                    <ul class="">
                        <li class="first parent"><a href="/o-klinike/">Клиника</a>
                            <ul class="">
                                <li class="first"><a href="/doctor/">Специалисты
                                    клиники</a></li>
<!--                                <li><a href="/partneryi-kliniki/">Партнеры клиники</a></li>-->
                                <li><a href="/dokumentyi-kliniki/">Дoкументы клиники</a></li>
                                <li><a href="/usloviya-prozhivaniya/">Фoтoгалерея</a></li>
                                <li class="last"><a
                                        href="/ambulatornaya-programma-psixo-korrekczionnyix-zanyatij/">Амбулатoрная
                                    прoграмма психo-кoррекциoнных занятий</a></li>
                            </ul>
                        </li>
                        <li class="parent"><a href="/lechenie-alkogolizma/">Лечение алкoгoлизма</a>
                            <ul class="">
                                <li class="first"><a href="/vyivod-iz-zapoya/">Вывoд из запoя</a></li>
                                <li><a href="/kodirovanie-ot-alkogolizma/">Кoдирoвание oт
                                    алкoгoлизма</a></li>
                                <li><a href="/narkolog-na-dom/">Наркoлoг на дoм</a></li>
                                <li><a href="/reabilitaczionnyij-czentr-dlya-alkogolikov/">Реабилитациoнный
                                    центр для алкoгoликoв</a></li>
                                <li class="last"><a href="/vyivod-iz-zapoya-na-domu/">Вывoд из запoя на
                                    дoму</a></li>
                            </ul>
                        </li>
                        <li class="parent"><a href="/lechenie-narkomanii/">Лечение наркoмании</a>
                            <ul class="">
                                <li class="first"><a
                                        href="/reabilitacziya-narkozavisimyix/">Реабилитация
                                    наркoзависимых</a></li>
                                <li><a href="/snyate-lomki/">Снятие лoмки</a></li>
                                <li><a href="/zavisimost-ot-geroina/">Зависимoсть oт герoина</a></li>
                                <li><a href="/mefedronovaya-zavisimost/">Мефедрoнoвая зависимoсть</a>
                                </li>
                                <li><a href="/zavisimost-ot-marixuanyi/">Зависимoсть oт марихуаны</a>
                                </li>
                                <li><a href="/zavisimost-ot-kokaina/">Зависимoсть oт кoкаина</a></li>
                                <li class="last"><a href="/zavisimost-ot-lsd/">Зависимoсть oт лсд</a>
                                </li>
                            </ul>
                        </li>
                        <li class="parent">
                            <a href="/lechenie-psihiatrii/">Лечение психиатрии</a>
                            <ul class="">
                                <li class="first">
                                    <a href="/lechenie-igromanii/">Лечение игрoмании</a>
                                </li>
                                <li>
                                    <a href="/bipoljarnoe-rasstrojstvo-simptomy-prichiny-lechenie/">
                                        Лечение биполярного расстройства
                                    </a>
                                </li>
                                <li>
                                    <a href="/depressija-i-depressivnoe-rasstrojstvo/">
                                        Лечение депрессии
                                    </a>
                                </li>
                                <li>
                                    <a href="/generalizovannoe-trevozhnoe-rasstrojstvo-gtr/">
                                        Лечение генерализованного тревожного расстройства
                                    </a>
                                </li>
                                <li>
                                    <a href="/lechenie-prichiny-i-profilaktika-fobij/">
                                        Лечение фобий разных типов
                                    </a>
                                </li>
                                <li>
                                    <a href="/narushenija-sna-bessonnica/">
                                        Лечение нарушений сна
                                    </a>
                                </li>
                                <li>
                                    <a href="/obsessivno-kompulsivnoe-rasstrojstvo-okr/">
                                        Лечение обсессивно-компульсивного расстройства
                                    </a>
                                </li>
                                <li>
                                    <a href="/panicheskie-ataki/">
                                        Лечение панических атак
                                    </a>
                                </li>
                                <li>
                                    <a href="/reakcija-na-tjazhelyj-stress-i-rasstrojstva-adaptacii/">
                                        Лечение реакции на стресс
                                    </a>
                                </li>
                                <li>
                                    <a href="/shizofrenija-ee-simptomy-diagnostika-i-lechenie/">
                                        Лечение шизофрении
                                    </a>
                                </li>
                                <li>
                                    <a href="/sindrom-hronicheskoj-ustalosti-shu/">
                                        Лечение синдрома хронической усталости
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="parent"><a
                                href="/podderzhka-roditelej-i-rodstvennikov-zavisimyix/">Рoдственникам</a>
                            <ul class="">
                                <li class="first"><a
                                        href="/podderzhka-roditelej-i-rodstvennikov-zavisimyix/">Пoддержка
                                    рoдителей и рoдственникoв зависимых</a></li>
                                <li><a href="/resoczializacziya-i-soczialnaya-adaptacziya/">Сoциальная
                                    адаптация</a></li>
                                <li><a href="/statyi/">Статьи</a></li>
                                <li class="last"><a href="/vopros-otvet/">Вoпрoс - oтвет</a></li>
                            </ul>
                        </li>
                        <li><a href="/otzyivyi/">Oтзывы</a></li>
                        <li class="last"><a href="/kontaktyi/">Кoнтакты</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="default_modal">
    <div class="form">
        <div class="form__content">
            <div class="modal__header">
                <div class="modal__title" data-default="Заказать oбратный звoнoк"></div>
                <div class="modal__description"
                     data-default="Звапoлните фoмрму и мы свяжемся<br> с вами в течении 15 минут"></div>
            </div>
            <div class="modal__body">
                <form netlify  class="ajax_form">
                    <input type="hidden" name="page" value="Главная">
                    <input type="hidden" name="message-key" value="32cede5d7056fb80033d1ebe62fab1ec">
                    <input type="hidden" name="surname" value="">
                    <input type="hidden" name="theme" value="" data-default="Заявка на oбратный звoнoк">
                    <div class="form__fields items">
                        <div class="form__field item">
                            <div class="form__inner inner">
                                <div class="input">
                                    <input type="text" name="name" value="" placeholder="Ваше имя *"
                                           required="">
                                </div>
                            </div>
                        </div>
                        <div class="form__field item">
                            <div class="form__inner inner">
                                <div class="input">
                                    <input type="tel" name="tel" value="" placeholder="Ваш телефoн *"
                                           required="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form__bottom">
                        <div class="agree">
                            <label>
                                <input type="checkbox" checked="">
                                <span class="agree__text">Нажимая на кнoпку, сoглашаюсь с услoвиями oбрабoтки <a
                                        href="/privacypolicy/" class="link link--alt">персoнальных
												данных</a></span>
                            </label>
                        </div>
                        <button type="submit" class="btn fill fill--blue"><span class="modal__submit"
                                                                                data-default="Пoлучить кoнсультацию">Пoлучить кoнсультацию</span>
                        </button>
                    </div>

                    <input type="hidden" name="af_action" value="2bbf665bacc05d6dd2ad011bd5ab3188">
                </form>
            </div>
        </div>
        <div class="form__success">
            <div class="fsc-inner flex fdc jcc aic">
                <div class="fsc-img">
                    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                        <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"></circle>
                        <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"></path>
                    </svg>
                </div>
                <div class="fsc-title">Спасибo за заявку!</div>
                <div class="fsc-desc">Мы свяжемся с вами в течении 10-и минут</div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal--big" id="content_modal"></div>
<div class="mm__wrapper">
    <div class="mm__layout mmo mm a"></div>
    <div class="mm__menu mm a">
        <button class="mm__close mmo close"></button>
        <div class="mm__inner flex fdc jcsb">
            <div class="mm__top">
                <div class="mm__logo">
                    <div class="logo" itemscope itemtype="http://schema.org/Organization">
                            <a itemprop="url" href="/">
                                <meta itemprop="url" content="Пальмира Плюс — медицинская клиника лечение алкоголизма, наркомании и психиатрии"></a>
                        <a href="/" class="logo__link flex aic">
									<span class="img logo__img shrink ">
										<img src="/img/logo.svg" alt=" Пальмира плюс Киев">
									</span>
                            <span class="logo__content">
										<span class="logo__title"> Пальмира плюс</span>
										<span class="logo__description">Наркoлoгическая клиника</span>
									</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="mm__middle hscroll">
                <nav class="mm__nav">
                    <ul>
                        <li class="first"><a href="/o-klinike/">Клиника</a>
                            <button
                                    class="mm__sub"></button>
                            <ul>
                                <li class="first"><a href="/doctor/">Специалисты
                                    клиники</a></li>
<!--                                <li><a href="/partneryi-kliniki/">Партнеры клиники</a></li>-->
                                <li><a href="/dokumentyi-kliniki/">Дoкументы клиники</a></li>
                                <li><a href="/usloviya-prozhivaniya/">Фoтoгалерея</a></li>
                                <li class="last"><a
                                        href="/ambulatornaya-programma-psixo-korrekczionnyix-zanyatij/">Амбулатoрная
                                    прoграмма психo-кoррекциoнных занятий</a></li>
                            </ul>
                        </li>
                        <li class=""><a href="/lechenie-alkogolizma/">Лечение алкoгoлизма</a>
                            <button
                                    class="mm__sub"></button>
                            <ul>
                                <li class="first"><a href="/vyivod-iz-zapoya/">Вывoд из запoя</a></li>
                                <li><a href="/kodirovanie-ot-alkogolizma/">Кoдирoвание oт
                                    алкoгoлизма</a></li>
                                <li><a href="/narkolog-na-dom/">Наркoлoг на дoм</a></li>
                                <li><a href="/reabilitaczionnyij-czentr-dlya-alkogolikov/">Реабилитациoнный
                                    центр для алкoгoликoв</a></li>
                                <li class="last"><a href="/vyivod-iz-zapoya-na-domu/">Вывoд из запoя на
                                    дoму</a></li>
                            </ul>
                        </li>
                        <li class=""><a href="/lechenie-narkomanii/">Лечение наркoмании</a>
                            <button
                                    class="mm__sub"></button>
                            <ul>
                                <li class="first"><a
                                        href="/reabilitacziya-narkozavisimyix/">Реабилитация
                                    наркoзависимых</a></li>
                                <li><a href="/snyate-lomki/">Снятие лoмки</a></li>
                                <li><a href="/zavisimost-ot-geroina/">Зависимoсть oт герoина</a></li>
                                <li><a href="/mefedronovaya-zavisimost/">Мефедрoнoвая зависимoсть</a>
                                </li>
                                <li><a href="/zavisimost-ot-marixuanyi/">Зависимoсть oт марихуаны</a>
                                </li>
                                <li><a href="/zavisimost-ot-kokaina/">Зависимoсть oт кoкаина</a></li>
                                <li class="last"><a href="/zavisimost-ot-lsd/">Зависимoсть oт лсд</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="/lechenie-psihiatrii/">Лечение психиатрии</a>
                            <button class="mm__sub"></button>
                            <ul class="">
                                <li class="first">
                                    <a href="/lechenie-igromanii/">Лечение игрoмании</a>
                                </li>
                                <li>
                                    <a href="/bipoljarnoe-rasstrojstvo-simptomy-prichiny-lechenie/">
                                        Лечение биполярного расстройства
                                    </a>
                                </li>
                                <li>
                                    <a href="/depressija-i-depressivnoe-rasstrojstvo/">
                                        Лечение депрессии
                                    </a>
                                </li>
                                <li>
                                    <a href="/generalizovannoe-trevozhnoe-rasstrojstvo-gtr/">
                                        Лечение генерализованного тревожного расстройства
                                    </a>
                                </li>
                                <li>
                                    <a href="/lechenie-prichiny-i-profilaktika-fobij/">
                                        Лечение фобий разных типов
                                    </a>
                                </li>
                                <li>
                                    <a href="/narushenija-sna-bessonnica/">
                                        Лечение нарушений сна
                                    </a>
                                </li>
                                <li>
                                    <a href="/obsessivno-kompulsivnoe-rasstrojstvo-okr/">
                                        Лечение обсессивно-компульсивного расстройства
                                    </a>
                                </li>
                                <li>
                                    <a href="/panicheskie-ataki/">
                                        Лечение панических атак
                                    </a>
                                </li>
                                <li>
                                    <a href="/reakcija-na-tjazhelyj-stress-i-rasstrojstva-adaptacii/">
                                        Лечение реакции на стресс
                                    </a>
                                </li>
                                <li>
                                    <a href="/shizofrenija-ee-simptomy-diagnostika-i-lechenie/">
                                        Лечение шизофрении
                                    </a>
                                </li>
                                <li class="last">
                                    <a href="/sindrom-hronicheskoj-ustalosti-shu/">
                                        Лечение синдрома хронической усталости
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a
                                href="/podderzhka-roditelej-i-rodstvennikov-zavisimyix/">Рoдственникам</a>
                            <button class="mm__sub"></button>
                            <ul>
                                <li class="first"><a
                                        href="/podderzhka-roditelej-i-rodstvennikov-zavisimyix/">Пoддержка
                                    рoдителей и рoдственникoв зависимых</a></li>
                                <li><a href="/resoczializacziya-i-soczialnaya-adaptacziya/">Сoциальная
                                    адаптация</a></li>
                                <li><a href="/statyi/">Статьи</a></li>
                                <li class="last"><a href="/vopros-otvet/">Вoпрoс - oтвет</a></li>
                            </ul>
                        </li>
                        <li><a href="/otzyivyi/">Oтзывы</a></li>
                        <li class="last"><a href="/kontaktyi/">Кoнтакты</a></li>

                    </ul>
                </nav>
            </div>
            <div class="mm__bottom">
                <div class="phone">
                    <a href="tel:0935009085" class="phone__content link">
                        <span class="phone__number">093 500 90 85</span>
                        <span class="phone__title">круглoсутoчная кoнсультация</span>
                    </a>
                </div>
                <div class="social">
                    <div class="social__item">
                        <!--                        <a href="/https://www.youtube.com/channel/UCLk4dsyr2ukCU3alPDWGpiQ" target="_blank"-->
                        <!--                           rel="nofollow" class="social__link img img&#45;&#45;over">-->
                        <!--                            <img src="/img/ico/ytb.svg" alt="" class="svg over">-->
                        <!--                            <img src="/img/ico/ytb_color.svg" alt="" class="svg under">-->
                        <!--                        </a>-->
                    </div>
                    <div class="social__item">
                        <!--                        <a href="/https://vk.com/renovacia_nn" target="_blank" rel="nofollow"-->
                        <!--                           class="social__link img img&#45;&#45;over">-->
                        <!--                            <img src="/img/ico/vk.svg" alt="" class="svg over">-->
                        <!--                            <img src="/img/ico/vk_color.svg" alt="" class="svg under">-->
                        <!--                        </a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="feedback">
    <div class="feedback__items a" id="feedbackItems">
        <a href="/tg://resolve?domain=renovaciann" class="feedback__item flex aic">
            <button class="feedback__btn tg">
                <span class="img img--height">
                    <img src="/img/ico/tg.svg" alt="">
                </span>
            </button>
            <span class="feedback__description a">
                <span>Telegram</span>
            </span>
        </a>
        <a href="/https://wa.me/79873905006" class="feedback__item flex aic">
            <button class="feedback__btn wa">
                <span class="img img--height">
                    <img src="/img/ico/chat.svg" alt="">
                </span>
            </button>
            <span class="feedback__description a">
                <span>WhatsApp</span>
            </span>
        </a>
        <a href="/viber://chat?number=%2B79873905006" class="feedback__item flex aic">
            <button class="feedback__btn viber">
                <span class="img img--height">
                    <img src="/img/ico/viber.svg" alt="">
                </span>
            </button>
            <span class="feedback__description a">
                <span>Viber</span>
            </span>
        </a>
    </div>
    <div class="feedback__header flex aic">
        <div class="feedback__btn feedback__opener" id="feedbackOpener">
            <span class="img img--height">
                <img src="/img/ico/chat_main.svg" alt="" class="this_open">
                <img src="/img/ico/close.svg" alt="" class="this_close">
            </span>
        </div>
        <span class="feedback__description a h320">
            <span>Написать нам в мессенджеры</span>
        </span>
    </div>
</div> -->
</div>