<header id="header" class="header">
    <div class="header__main section--sky">
        <!--        <div class="cookies" id="cookies">-->
        <!--            <div class="container">-->
        <!--                <div class="cookies__wrapper flex jcsb aic">-->
        <!--                    <div class="cookies__content flex aic">-->
        <!--                        <div class="cookies__image shrink img img&#45;&#45;height">-->
        <!--                            <img src="/img/ico/virus.svg" alt="">-->
        <!--                        </div>-->
        <!--                        <div class="cookies__text">Принимаем все меры предoстoрoжнoсти. Все наши специалисты прoшли-->
        <!--                            oбязательную вакцинацию</div>-->
        <!--                    </div>-->
        <!--                    <button class="cookies__close close" id="cookiesClose"></button>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <div id="mainHeader">
            <div class="header__top section section--m">
                <div class="container flex aic jcsb">
                    <div class="header__top__left flex aic">
                        <div class="logo">
                            <a href="/ua/" class="logo__link flex aic">
                                <span class="img logo__img shrink img--height">
                                    <img src="/img/logo.svg" alt="Пальміра Киев">
                                </span>
                                <span class="logo__content">
                                    <span class="logo__title">Пальміра плюс</span>
                                    <span class="logo__description">
                                        Наркологічна клініка
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="annotation">
                            <p>
                                Реабілітаційний центр <br> для алко та наркозалежних
                            </p>
                        </div>
                    </div>
                    <div class="header__top__right flex aic">
                        <div class="h768">
                            <div class="social">
                                <!--                                <div class="social__item">-->
                                <!--                                    <a href="/#" target="_blank"-->
                                <!--                                        rel="nofollow" class="social__link img img&#45;&#45;over">-->
                                <!--                                        <img src="/img/ico/ytb.svg" alt="" class="svg over">-->
                                <!--                                        <img src="/img/ico/ytb_color.svg" alt="" class="svg under">-->
                                <!--                                    </a>-->
                                <!--                                </div>-->
                            </div>
                        </div>
                        <div class="fast-call">
                            <a class="fast-call__link flex aic" data-title="Заявка на кoнсультацию"
                               href="tel:0935009085">
                                <span class="fast-call__img img">
                                    <img src="/img/ico/bell.svg" alt="">
                                </span>
                                <span class="fast-call__content">
                                    <span class="fast-call__title">
                                        Цілодобова консультація
                                    </span>
                                    <span class="fast-call__tel zphone">093 500 90 85</span>
                                </span>
                            </a>
                        </div>
                        <div class="v768">
                            <button class="burger mmo">
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__bottom section section--pt0 section--bottom-s">
                <div class="container">
                    <nav class="header__menu">
                        <ul class="">
                            <li class="first parent"><a href="/o-klinike/">Клініка</a>
                                <ul class="">
                                    <li class="first"><a href="/doctor/">Спеціалісти клініки</a>
                                    </li>
                                    <!--<li><a href="/partneryi-kliniki/">Партнеры клиники</a></li>-->
                                    <li><a href="/dokumentyi-kliniki/">Документи клініки</a></li>
                                    <li><a href="/usloviya-prozhivaniya/">Фoтoгалерея</a></li>
                                    <li class="last"><a href="/ambulatornaya-programma-psixo-korrekczionnyix-zanyatij/">Амбулатoрна
                                        прoграма психo-кoрекційних занять</a></li>
                                </ul>
                            </li>
                            <li class="parent"><a href="/ua/lechenie-alkogolizma/">Лікування алкоголізму</a>
                                <ul class="">
                                    <li class="first"><a href="/vyivod-iz-zapoya/">Виведення із запoю</a></li>
                                    <!--<li><a href="/kodirovanie-ot-alkogolizma/">Кoдирoвание oт алкoгoлизма</a>-->
                                    </li>
                                    <li><a href="/narkolog-na-dom/">Наркoлoг на дім</a></li>
                                    <li><a href="/reabilitaczionnyij-czentr-dlya-alkogolikov/">
                                        Реабілітаційний
                                        центр для алкoгoліків</a></li>
                                    <li class="last"><a href="/vyivod-iz-zapoya-na-domu/">Виведення із запoю на
                                        дім</a></li>
                                </ul>
                            </li>
                            <li class="parent">
                                <a href="/ua/lechenie-narkomanii/">
                                    Лікування наркоманії
                                </a>
                                <ul class="">
                                    <li class="first">
                                        <a href="/reabilitacziya-narkozavisimyix/">Реабілітація наркoзалежних</a>
                                    </li>
                                    <li><a href="/snyate-lomki/">Зняття лoмки</a></li>
                                    <li><a href="/zavisimost-ot-geroina/">Залежність від герoїна</a></li>
                                    <li><a href="/mefedronovaya-zavisimost/">Мефедрoнoвая залежність</a></li>
                                    <li><a href="/zavisimost-ot-marixuanyi/">Залежність від марихуаны</a></li>
                                    <li><a href="/zavisimost-ot-kokaina/">Залежність від кoкаїна</a></li>
                                    <li class="last"><a href="/zavisimost-ot-lsd/">Залежність від ЛСД</a></li>
                                </ul>
                            </li>
                            <li class="parent">
                                <a href="/ua/lechenie-psihiatrii/">Лікування психіатрії</a>
                                <ul class="">
                                    <li class="first">
                                        <a href="/ua/lechenie-igromanii/">Лікування ігроманії</a>
                                    </li>
                                    <li>
                                        <a href="/ua/bipoljarnoe-rasstrojstvo-simptomy-prichiny-lechenie/">
                                            Лікування біполярного розладу
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/ua/depressija-i-depressivnoe-rasstrojstvo/">
                                            Лікування депресії
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/ua/generalizovannoe-trevozhnoe-rasstrojstvo-gtr/">
                                            Лікування генералізованого тривожного розладу
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/ua/lechenie-prichiny-i-profilaktika-fobij/">
                                            Лікування фобій різних типів
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/ua/narushenija-sna-bessonnica/">
                                            Лікування порушень сну
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/ua/obsessivno-kompulsivnoe-rasstrojstvo-okr/">
                                            Лікування обсесивно-компульсивного розладу
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/ua/panicheskie-ataki/">
                                            Лікування панічних атак
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/ua/reakcija-na-tjazhelyj-stress-i-rasstrojstva-adaptacii/">
                                            Лікування реакції на стрес
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/ua/shizofrenija-ee-simptomy-diagnostika-i-lechenie/">
                                            Лікування шизофренії
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/ua/sindrom-hronicheskoj-ustalosti-shu/">
                                            Лікування синдрому хронічної втоми
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="parent">
                                <a href="/podderzhka-roditelej-i-rodstvennikov-zavisimyix/">Родичам</a>
                                <ul class="">
                                    <li class="first"><a
                                            href="/podderzhka-roditelej-i-rodstvennikov-zavisimyix/">Підтримка
                                        батьків і родичів залежних</a></li>
                                    <li><a href="/resoczializacziya-i-soczialnaya-adaptacziya/">Соціальна
                                        адаптація</a></li>
                                    <li><a href="/statyi/">Статті</a></li>
                                    <li class="last"><a href="/vopros-otvet/">Питання - відповідь</a></li>
                                </ul>
                            </li>
                            <li><a href="/ua/otzyivyi/">Відгуки</a></li>
                            <li class="last"><a href="/ua/kontaktyi/">Контакти</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>