
	<div class="section section--p0 tour3d" id="tour3d">
		<div class="container">
			<div class="tour3d__wrapper section section--m"
				style="background-image: url(assets/cache_image/img/3dTour-dn5yia_1400x400_74f.png);">
				<div class="tour3d__content">
					<div class="tour3d__image img img--height">
						<img src="/img/ico/360.svg" alt="">
					</div>
					<div class="tour3d__text">
						<div class="h2 h--white">Пoсмoтрите 3D тур пo нашей клинике</div>
					</div>
					<div class="tour3d__bottom">
						<a href="/tour3d/" class="tour3d__btn btn fill fill--white" data-fancybox=""
							data-type="iframe"><span>Пoсмoтреть</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>