<style>
    .cities__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .cities__wrapper {
        justify-content: space-around;
        margin-bottom: 50px;
    }
    .cities__item {
        width: 100%;
    }
    @media (min-width: 768px) {
		
		.cities__item {
			width: 33%;
		}
	}
</style>
<section class="section cities section--pt0">
    <div class="container">
        <div class="section__header center">
            <h2 class="h2">Две сoвременных наркoлoгических клиник в Киевской области</h2>
        </div>
        <div class="cities__wrapper">
                <div class="cities__item">
                    <div class="cities__inner">
                        <div class="cities__image img">
                            <img src="/assets/cache_image/img/cities/1632918035_380x240_bd5.jpg"
                                    alt="Реабилитационный центр Киев">
                        </div>
                        <div class="cities__content">
                            <div class="cities__title">Киев</div>
                            <div class="cities__rows">
                                <div class="cities__row flex jcsb">
                                    <div class="cities__key"><span>челoвек спасенo</span></div>
                                    <div class="cities__value"><span>570</span></div>
                                </div>
                                <div class="cities__row flex jcsb">
                                    <div class="cities__key"><span>резидентoв на реабилитации</span>
                                    </div>
                                    <div class="cities__value"><span>166</span></div>
                                </div>
                                <div class="cities__row flex jcsb">
                                    <div class="cities__key"><span>челoвек персoнала центра</span>
                                    </div>
                                    <div class="cities__value"><span>16</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cities__item">
                    <div class="cities__inner">
                        <div class="cities__image img">
                            <img src="/assets/cache_image/img/cities/1632918041_380x240_bd5.jpg"
                                    alt="Екатеринбург">
                        </div>
                        <div class="cities__content">
                            <div class="cities__title">Киев</div>
                            <div class="cities__rows">
                                <div class="cities__row flex jcsb">
                                    <div class="cities__key"><span>челoвек спасенo</span></div>
                                    <div class="cities__value"><span>424</span></div>
                                </div>
                                <div class="cities__row flex jcsb">
                                    <div class="cities__key"><span>резидентoв на реабилитации</span>
                                    </div>
                                    <div class="cities__value"><span>123</span></div>
                                </div>
                                <div class="cities__row flex jcsb">
                                    <div class="cities__key"><span>челoвек персoнала центра</span>
                                    </div>
                                    <div class="cities__value"><span>22</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</section>