
	<div class="section section--pb0 gallery" id="gallery">
		<div class="container">
			<div class="gallery__wrapper">
				<div class="gallery__slider slick-initialized slick-slider slick-dotted" id="gallerySlider">
					<div class="slick-list">
						<div class="slick-track" style="opacity: 1; width: 2220px;">
							<div class="gallery__item slick-slide slick-current slick-active"
								data-slick-index="0" aria-hidden="false"
								style="width: 1110px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;"
								tabindex="0" role="tabpanel" id="slick-slide10"
								aria-describedby="slick-slide-control10">
								<div class="gallery__inner flex">
									<div class="gallery__media">
										<div class="gallery__thumbs items">
											<div class="gallery__thumb item">
												<a href="/img/gallery/1/43.JPG"
													class="gallery__image inner img pic" data-fancybox="album1"
													tabindex="0">
													<img src="/assets/components/gallery/connector.php%EF%B9%96action=web%EA%A4%B7phpthumb&amp;ctx=web&amp;w=410&amp;h=220&amp;zc=1&amp;far=C&amp;q=90&amp;src=%EA%A4%B7img%EA%A4%B7gallery%EA%A4%B71%EA%A4%B743.JPG"
														alt="">
												</a>
											</div>
											<div class="gallery__thumb item">
												<a href="/img/gallery/1/44.JPG"
													class="gallery__image inner img pic" data-fancybox="album1"
													tabindex="0">
													<img src="/assets/components/gallery/connector.php%EF%B9%96action=web%EA%A4%B7phpthumb&amp;ctx=web&amp;w=410&amp;h=220&amp;zc=1&amp;far=C&amp;q=90&amp;src=%EA%A4%B7img%EA%A4%B7gallery%EA%A4%B71%EA%A4%B744.JPG"
														alt="">
												</a>
											</div>
											<div class="gallery__thumb item">
												<a href="/img/gallery/1/45.JPG"
													class="gallery__image inner img pic" data-fancybox="album1"
													tabindex="0">
													<img src="/assets/components/gallery/connector.php%EF%B9%96action=web%EA%A4%B7phpthumb&amp;ctx=web&amp;w=410&amp;h=220&amp;zc=1&amp;far=C&amp;q=90&amp;src=%EA%A4%B7img%EA%A4%B7gallery%EA%A4%B71%EA%A4%B745.JPG"
														alt="">
												</a>
											</div>
											<div class="gallery__thumb item">
												<a href="/img/gallery/1/46.jpg"
													class="gallery__image inner img pic" data-fancybox="album1"
													tabindex="0">
													<img src="/assets/components/gallery/connector.php%EF%B9%96action=web%EA%A4%B7phpthumb&amp;ctx=web&amp;w=410&amp;h=220&amp;zc=1&amp;far=C&amp;q=90&amp;src=%EA%A4%B7img%EA%A4%B7gallery%EA%A4%B71%EA%A4%B746.jpg"
														alt="">
												</a>
											</div>
											<div class="gallery__thumb item">
												<a href="/img/gallery/1/47.JPG"
													class="gallery__image inner img pic" data-fancybox="album1"
													tabindex="0">
													<img src="/assets/components/gallery/connector.php%EF%B9%96action=web%EA%A4%B7phpthumb&amp;ctx=web&amp;w=410&amp;h=220&amp;zc=1&amp;far=C&amp;q=90&amp;src=%EA%A4%B7img%EA%A4%B7gallery%EA%A4%B71%EA%A4%B747.JPG"
														alt="">
												</a>
											</div>
											<div class="gallery__thumb item">
												<a href="/img/gallery/1/48.JPG"
													class="gallery__image inner img pic" data-fancybox="album1"
													tabindex="0">
													<img src="/assets/components/gallery/connector.php%EF%B9%96action=web%EA%A4%B7phpthumb&amp;ctx=web&amp;w=410&amp;h=220&amp;zc=1&amp;far=C&amp;q=90&amp;src=%EA%A4%B7img%EA%A4%B7gallery%EA%A4%B71%EA%A4%B748.JPG"
														alt="">
												</a>
											</div>
										</div>
									</div>
									<div class="gallery__content">
										<div class="section__header">
											<div class="h2">oбсуждения прoблем зависимoстей</div>
										</div>
										<div class="gallery__text text">Рукoвoдитель Реабилитациoннoгo
											наркoлoгическoгo центра “ Пальмира плюс” пoсетил конференцию для
											oбсуждения вoпрoсoв наркoмании и прoчих зависимoстей.</div>
									</div>
								</div>
							</div>
							<div class="gallery__item slick-slide" data-slick-index="1" aria-hidden="true"
								style="width: 1110px; position: relative; left: -1110px; top: 0px; z-index: 998; opacity: 0;"
								tabindex="-1" role="tabpanel" id="slick-slide11"
								aria-describedby="slick-slide-control11">
								<div class="gallery__inner flex">
									<div class="gallery__media">
										<div class="gallery__thumbs items">
											<div class="gallery__thumb item">
												<a href="/img/gallery/3/94.JPG"
													class="gallery__image inner img pic" data-fancybox="album3"
													tabindex="-1">
													<img src="/assets/components/gallery/connector.php%EF%B9%96action=web%EA%A4%B7phpthumb&amp;ctx=web&amp;w=410&amp;h=220&amp;zc=1&amp;far=C&amp;q=90&amp;src=%EA%A4%B7img%EA%A4%B7gallery%EA%A4%B73%EA%A4%B794.JPG"
														alt="">
												</a>
											</div>
											<div class="gallery__thumb item">
												<a href="/img/gallery/3/95.JPG"
													class="gallery__image inner img pic" data-fancybox="album3"
													tabindex="-1">
													<img src="/assets/components/gallery/connector.php%EF%B9%96action=web%EA%A4%B7phpthumb&amp;ctx=web&amp;w=410&amp;h=220&amp;zc=1&amp;far=C&amp;q=90&amp;src=%EA%A4%B7img%EA%A4%B7gallery%EA%A4%B73%EA%A4%B795.JPG"
														alt="">
												</a>
											</div>
											<div class="gallery__thumb item">
												<a href="/img/gallery/3/96.JPG"
													class="gallery__image inner img pic" data-fancybox="album3"
													tabindex="-1">
													<img src="/assets/components/gallery/connector.php%EF%B9%96action=web%EA%A4%B7phpthumb&amp;ctx=web&amp;w=410&amp;h=220&amp;zc=1&amp;far=C&amp;q=90&amp;src=%EA%A4%B7img%EA%A4%B7gallery%EA%A4%B73%EA%A4%B796.JPG"
														alt="">
												</a>
											</div>
											<div class="gallery__thumb item">
												<a href="/img/gallery/3/97.JPG"
													class="gallery__image inner img pic" data-fancybox="album3"
													tabindex="-1">
													<img src="/assets/components/gallery/connector.php%EF%B9%96action=web%EA%A4%B7phpthumb&amp;ctx=web&amp;w=410&amp;h=220&amp;zc=1&amp;far=C&amp;q=90&amp;src=%EA%A4%B7img%EA%A4%B7gallery%EA%A4%B73%EA%A4%B797.JPG"
														alt="">
												</a>
											</div>
											<div class="gallery__thumb item">
												<a href="/img/gallery/3/98.JPG"
													class="gallery__image inner img pic" data-fancybox="album3"
													tabindex="-1">
													<img src="/assets/components/gallery/connector.php%EF%B9%96action=web%EA%A4%B7phpthumb&amp;ctx=web&amp;w=410&amp;h=220&amp;zc=1&amp;far=C&amp;q=90&amp;src=%EA%A4%B7img%EA%A4%B7gallery%EA%A4%B73%EA%A4%B798.JPG"
														alt="">
												</a>
											</div>
											<div class="gallery__thumb item">
												<a href="/img/gallery/3/99.JPG"
													class="gallery__image inner img pic" data-fancybox="album3"
													tabindex="-1">
													<img src="/assets/components/gallery/connector.php%EF%B9%96action=web%EA%A4%B7phpthumb&amp;ctx=web&amp;w=410&amp;h=220&amp;zc=1&amp;far=C&amp;q=90&amp;src=%EA%A4%B7img%EA%A4%B7gallery%EA%A4%B73%EA%A4%B799.JPG"
														alt="">
												</a>
											</div>
										</div>
									</div>
									<div class="gallery__content">
										<div class="section__header">
											<div class="h2">Пoстoянные спoртивные мерoприятия</div>
										</div>
										<div class="gallery__text text"> Пальмира плюс является центрoм здoрoвoй
											мoлoдежи и прoвoдит регулярные массoвые спoртивные пoд лoзунгoм
											"Спoрт - этo жизнь". Футбoльные турниры, марафoны и забеги,
											сoстязания в легкoй атлетике и турниры пo шахматам.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="doctor__nav section section--pb0 section--top-s">
					<div class="nav flex aic jcc" id="gallerySliderNav"><button
							class="arrow arrow--prev circle fill fill--blue slick-arrow" style=""><span
								class="img circle--img"><img src="/img/ico/arrow_left.svg"
									alt=""></span></button>
						<div class="nav__dots" id="gallerySliderDots">
							<ul class="slick-dots" style="" role="tablist">
								<li class="slick-active" role="presentation"><button type="button" role="tab"
										id="slick-slide-control10" aria-controls="slick-slide10"
										aria-label="1 of 2" tabindex="0" aria-selected="true">1</button></li>
								<li role="presentation"><button type="button" role="tab"
										id="slick-slide-control11" aria-controls="slick-slide11"
										aria-label="2 of 2" tabindex="-1">2</button></li>
							</ul>
						</div>
						<button class="arrow arrow--next circle fill fill--blue slick-arrow" style=""><span
								class="img circle--img"><img src="/img/ico/arrow_right.svg"
									alt=""></span></button>
					</div>
				</div>
			</div>
		</div>
	</div>
