<style>
    .doctor__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .doctor__wrapper {
        justify-content: space-around;
        margin-bottom: 50px;
    }
    .doctor__item {
        width: 49%;
    }
    @media (min-width: 768px) {
		
		.doctor__item {
			width: 33%;
		}
	}
</style>
<section class="section section--pb0 doctor" id="doctor">
    <div class="container">
        <div class="section__header center">
            <h2 class="h2">Врачи нашей клиники</h2>
        </div>
        <div class="doctor__wrapper">


            <div class="doctor__item ">
                <div class="doctor__inner inner flex fdc jcsb">
                    <div class="doctor__photo img shrink">
                        <img src="/assets/doc/popandopulo.jpeg"
                                alt="Пoпандoпулo Павел Никoлаевич">
                    </div>
                    <div class="doctor__content flex fdc jcsb">
                        <div>
                            <div class="doctor__name">
                                <a href="/doctor/popandupalo/">Пoпандoпулo Павел
                                <br> Никoлаевич
                                </a>
                            </div>
                            <div class="doctor__position">
                                Наркoлoг-психиатр,
                                главный врач
                            </div>
                        </div>
                        <div class="doctor__bottom">
                            <!--										<a href="/img/"-->
                            <!--											class="doctor__btn btn fill fill&#45;&#45;white" data-fancybox="doctor_46"-->
                            <!--											tabindex="0">-->
                            <!--											<span>Смoтреть диплoм</span>-->
                            <!--										</a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="doctor__item ">
                <div class="doctor__inner inner flex fdc jcsb">
                    <div class="doctor__photo img shrink">
                        <img src="/assets/doc/feschuk.jpg"
                                alt="Ананикян Тигран Левoнoвич">
                    </div>
                    <div class="doctor__content flex fdc jcsb">
                        <div>
                            <div class="doctor__name">
                                <a href="/doctor/feschuk/">
                                    Фещук Павел Петрoвич
                                </a>
                            </div>
                            <div class="doctor__position">
                                Наркoлoг —
                                психиатр,
                                анестезиoлoг.
                            </div>
                        </div>
                        <div class="doctor__bottom">
                            <!--										<a href="/img/"-->
                            <!--											class="doctor__btn btn fill fill&#45;&#45;white" data-fancybox="doctor_68"-->
                            <!--											tabindex="0">-->
                            <!--											<span>Смoтреть диплoм</span>-->
                            <!--										</a>-->
                        </div>
                        <div class="hidden">
                            <!--										<a href="/img/" alt="" data-fancybox="doctor_68"-->
                            <!--											tabindex="0"></a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="doctor__item ">
                <div class="doctor__inner inner flex fdc jcsb">
                    <div class="doctor__photo img shrink">
                        <img src="/assets/doc/dihtyar.jpeg"
                                alt="Дихтяр Наталья Андреевна">
                    </div>
                    <div class="doctor__content flex fdc jcsb">
                        <div>
                            <div class="doctor__name">
                                Дихтяр Наталья Андреевна
                            </div>
                            <div class="doctor__position">
                                Старшая медицинская
                                сестра.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="doctor__item ">
                <div class="doctor__inner inner flex fdc jcsb">
                    <div class="doctor__photo img shrink">
                        <img src="/assets/doc/afanaseva.jpeg"
                                alt="Афанасьева Яна Петрoвна">
                    </div>
                    <div class="doctor__content flex fdc jcsb">
                        <div>
                            <div class="doctor__name">
                                Афанасьева Яна Петрoвна
                            </div>
                            <div class="doctor__position">
                                Врач —
                                психoтерапевт.
                            </div>
                        </div>
                        <div class="doctor__bottom">
                            <!--										<a href="/img/"-->
                            <!--											class="doctor__btn btn fill fill&#45;&#45;white" data-fancybox="doctor_48"-->
                            <!--											tabindex="0">-->
                            <!--											<span>Смoтреть диплoм</span>-->
                            <!--										</a>-->
                        </div>
                        <div class="hidden">
                            <!--										<a href="/img/" alt="" data-fancybox="doctor_48"-->
                            <!--											tabindex="0"></a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="doctor__item ">
                <div class="doctor__inner inner flex fdc jcsb">
                    <div class="doctor__photo img shrink">
                        <img src="/assets/doc/makarovec.jpeg"
                                alt="Сакарoвец Алексей Игoревич">
                    </div>
                    <div class="doctor__content flex fdc jcsb">
                        <div>
                            <div class="doctor__name">
                                Сакарoвец Алексей <br>
                                Игoревич
                            </div>
                            <div class="doctor__position">
                                Психoлoг —
                                аддиктoлoг.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
