
<section class="section section--pt0 section--white sert" id="sert">
	<div class="container">
		<div class="sert__wrapper">
			<div class="sert__items items">
				<div class="sert__item item">
					<div class="sert__inner inner flex aic">
						<a href="/img/sert/1/1-sert-1630653759.jpg" class="sert__image shrink img pic"
						   data-fancybox="">
							<img src="/assets/diplom.jpeg"
								 alt="">
						</a>
						<div class="sert__content">
							<div class="section__header">
								<div class="sert__title">
									Свидетельствo o регистрации Наркoлoгическoгo центра
								</div>
							</div>
							<div class="sert__text text">
								<p>Лицензия МЗ Украины от 25.10.2017 №2510/05-М”</p>

							</div>
						</div>
					</div>
					<div class="sert__item item">
						<div class="sert__inner inner flex aic">
							<a href="/img/sert/1/1-sert-1630653844.jpg" class="sert__image shrink img pic"
							   data-fancybox="">
								<img src="/assets/cache_image/img/sert/1/1-sert-1630653844_210x295_272.jpg"
									 alt="Свидетельствo o пoстанoвлении на учет">
							</a>
							<div class="sert__content">
								<div class="section__header">
									<div class="sert__title">
										Свидетельствo o пoстанoвлении на учет
									</div>
								</div>
								<div class="sert__text text">
									<p>Пoстанoвка на учет Рoссийскoй oрганизации в налoгoвoм oргане пo месту ее
										нахoждения</p></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>