<style>
	@media (min-width: 768px) {
		.reviews__wrapper {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		.reviews__item {
			width: 48%;
		}
	}
</style>
<section class="section section--sky reviews" id="reviews">
    <div class="container">
        <div class="section__header">
            <h2 class="h2">Отзывы</h2>
        </div>

        <div class="reviews__wrapper section section--pb0 section--top-m">

                <div class="reviews__item">
                    <div class="reviews__inner">
								<span class="copy__content">
									<span class="reviews__header flex">
										<span class="reviews__rating rating__value">
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
										</span>
										<span class="reviews__rating_text">
											5/5
										</span>
									</span>
									<span class="reviews__content">
										<span class="reviews__title">Таня М...</span>

											<div class="reviews__text text">
												<p>
													Хочу поблагодарить доктора и всю клинику, где с пониманием отнеслись к нашей проблеме.

												</p>
												<p>
													Мой муж всегда был трудолюбивым, активным, напористым. Но что-то в нем сломалось и наша жизнь покатилась вниз. Алкоголь зло, я всегда знала это. Никогда не думала, что придется убедиться на собственном примере.
												</p>
												<p>
													Начиналось все невинно, с пива под футбол. Но таких вечеров становилось все больше, количество спиртного увеличивалось. Потом пошли более крепкие напитки. Муж стал апатичным, меньше интересовался работой и семьей. Буквально с каждым днем становилось все хуже. Он начал пропадать на целые ночи, возвращаться в жутком виде.
												</p>
												<p>
													Сперва я хотела забрать ребенка и уйти. Но решила попробовать еще раз побороться за нашу семью и обратилась в вашу клинику. Не представляю, как, но доктор нашел подход к мужу. Уговорил на детоксикацию, кодировку. Походить в группу психологической помощи. И это сработало. Мой муж пока не совсем тот, что был раньше. Но прогресс на лицо. Желаю вашей клинике процветания и глубоко кланяюсь.
												</p>

											</div>

									</span>
								</span>
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="reviews__inner">
								<span class="copy__content">
									<span class="reviews__header flex">
										<span class="reviews__rating rating__value">
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
										</span>
										<span class="reviews__rating_text">
											5/5
										</span>
									</span>
									<span class="reviews__content">
										<span class="reviews__title">Тарас В...</span>

											<div class="reviews__text text">
												<p>
													Здравствуйте.
													<br>
													Хочу оставить отзыв благодарности за помощь с сыном. Я не верил уже, что парня можно вытащить, но вы настоящие профессионалы, которые сделали невозможное.

												</p>
												<p>
													Не представляю, где сын попробовал наркотики и как это произошло. Вроде спортсмен, музыкант. Ходил в кружки. Хотел стать известным, выступать на больших сценах Украины. А потом в одно время потерял интерес к спорту и музыке. Ходил гулять со странными компаниями, носить мешковатую одежду, запираться в комнате. Мать сутками плакала, потому что не могла найти подход к незнакомому для нее парню. Я все ей говорил, что сына нужно запереть и контролировать каждый его шаг. Хорошо, что она не послушалась меня. И уговорила обратиться в вашу клинику.
												</p>
												<p>
													Нарколог выехал сразу, как мы позвонили. Быстро оценил обстановку и сразу расписал стадии лечения. Отправил на стационар очищать организм от заразы. По его настоянию мы меняем место жительства. Хочется переехать в другой город, но пока не время. Да и сын ходит в группу поддержки.
													<br>
													Спасибо за помощь.

												</p>

											</div>

									</span>
								</span>
                    </div>
                </div>

                <div class="reviews__item">
                    <div class="reviews__inner">
								<span class="copy__content">
									<span class="reviews__header flex">
										<span class="reviews__rating rating__value">
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
										</span>
										<span class="reviews__rating_text">
											5/5
										</span>
									</span>
									<span class="reviews__content">
										<span class="reviews__title">Богдана В...</span>

											<div class="reviews__text text">
												<p>
													Добрый день. Спасибо, что помогли избавиться от тревожных расстройств. Без вашей помощи я бы даже не поняла, что это со мной. И, конечно, не лечила бы заболевание, позволив ему превратиться в тяжелую болезнь.
												</p>
												<p>
													Украина переживает непростое время, мы постоянно на стрессе. Но одни люди легко воспринимают происходящее. Восстанавливают свою жизнь, насколько получается. Другие, как я: обзаводятся всякими странным ипсихологическими недугами. Я сама никогда бы не придала значения тому, что стала замкнута, начала просыпаться по ночам, потеть и ощущать, как сердце бешено колотится. Соседка посоветовала сходить к терапевту, а тот направил меня к вам. Оказалось, что у меня тревожные расстройства.
												</p>
												<p>
													Советы, которые давал ваш психиатр, казались странными. Дышать, ходить в душ, бегать или просто орать в подушку. Но это помогло. Доктор сказал, что прогресс на лицо и скоро от тревоги не останется и следа. Я смогу снова начать жить нормальной жизнью. Благодарю.
												</p>

											</div>

									</span>
								</span>
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="reviews__inner">
								<span class="copy__content">
									<span class="reviews__header flex">
										<span class="reviews__rating rating__value">
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
										</span>
										<span class="reviews__rating_text">
											5/5
										</span>
									</span>
									<span class="reviews__content">
										<span class="reviews__title">Ігор К...</span>

											<div class="reviews__text text">
												<p>
													ПТСР – ужасный диагноз. Мне бы хотелось, чтобы никто не получал его. И, тем более, узнавал о рецидиве.<br>
													Семь лет назад я уже лечился от этого заболевания. Антидепрессанты, от которых мир вокруг превращается в вату. Восстановительные препараты. Бесконечные сеансы у психолога. Казалось, я навсегда вылечился, но нет. Пришла беда. Все кошмары вернулись с сон и жизнь. Снова эта едкая недоверчивость ко всем, желание отстраниться и спрятаться. Снова страх, который парализует в самый неподходящий момент.

												</p>
												<p>
													В вашу клинику я обратился совсем недавно. Психиатр быстро подобрал мне нормальные антидепрессанты, гораздо лучше предыдущих. Я могу вести нормальную жизнь и даже интересоваться окружающим. Тревожность пока не прошла, но недоверия к каждой тени как не было. Чувствуется профессионализм специалиста. Уверен, в вашей клинике я гораздо быстрее приведу себя в порядок. Спасибо.
												</p>


											</div>

									</span>
								</span>
                    </div>
                </div>


        </div>

    </div>
</section>
