<style>

	.reviews__item {

	}
	@media (min-width: 768px) {
		.reviews__wrapper {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		.reviews__item {
			width: 48%;
		}
	}
</style>
<section class="section section--sky reviews" id="reviews">
	<div class="container">
		<div class="section__header">
			<h2 class="h2">Отзывы</h2>
		</div>

		<div class="reviews__wrapper section section--pb0 section--top-m">

			<div class="reviews__item">
				<div class="reviews__inner">
							<span class="copy__content">
								<span class="reviews__header flex">
									<span class="reviews__rating rating__value">
										<span class="f"></span>
										<span class="f"></span>
										<span class="f"></span>
										<span class="f"></span>
										<span class="f"></span>
									</span>
									<span class="reviews__rating_text">
										5/5
									</span>
								</span>
								<span class="reviews__content">
									<span class="reviews__title">Оксана М...</span>

										<div class="reviews__text text">
											<p>
												Хочу поделиться впечатлениями и просто выговориться.
											</p>
												Спасибо большое клинике, которая помогла мне вернуть дочку. Наркотики – самое кошмарное, что создал человек. Эта гадость убивает медленно и спасение найти трудно. Моя девочка, такая умная и талантливая, попала под влияние своего бывшего молодого человека. Он предложил ей попробовать немного кайфа и подсадил ее на наркотическую зависимость. Этот тип уничтожил отношения со своей семьей и едва не разрушил наши, которые мы строили с самого рождения дочки. Мы всегда были на доверии, поэтому моя девочка поделилась со мной проблемой.
											</p>
											<p>
												Мы сразу обратились в вашу клинику. Прошли очистку организма, терапию и психологов. Как вы советовали, сменили место жительства и навсегда забыли о бывшем парне. Правда, я очень переживаю, чтобы он не нашел мою девочку и снова не начал подбивать ее на употребление. Ведь после лечения девочка так тяжело восстанавливается. Еще раз спасибо за помощь.
											</p>
										</div>

								</span>
							</span>
				</div>
			</div>
			<div class="reviews__item">
				<div class="reviews__inner">
							<span class="copy__content">
								<span class="reviews__header flex">
									<span class="reviews__rating rating__value">
										<span class="f"></span>
										<span class="f"></span>
										<span class="f"></span>
										<span class="f"></span>
										<span class="f"></span>
									</span>
									<span class="reviews__rating_text">
										5/5
									</span>
								</span>
								<span class="reviews__content">
									<span class="reviews__title">Виктор М...</span>

										<div class="reviews__text text">
											<p>
												Спасибо, что вернули меня к жизни. Только после лечения я понял, в каком мраке жил. Наркотики – это не про кайф. Это про смерть. До употребления я был неплохим художником, а потом что-то пошло не так. Наркотики не помогают фантазии, они ее гробят. Я выкинул все холсты, которые писал во времена зависимости, там сплошной ужас. Сейчас, после лечения, я пишу совсем другое, светлое. Хочу однажды сделать выставку.
											</p>
											<p>
												Тяжело было обратиться в клинику за лечением. Все казалось, что оно само пройдет и я смогу бросить. Даже когда девушка ушла и сестра перестала общаться, я думал, что все наладится. Теперь понимаю, как это было безнадежно. Особенно эти вспышки агрессии.
											</p>
											<p>
												Обязательно поучаствую в ваших группах поддержки, расскажу, как сложно, но важно решиться на лечение зависимости. Спасибо.
											</p>

										</div>

								</span>
							</span>
				</div>
			</div>

		</div>

	</div>
</section>
