<style>

	.reviews__item {

	}
	@media (min-width: 768px) {
		.reviews__wrapper {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		.reviews__item {
			width: 48%;
		}
	}
</style>
<section class="section section--sky reviews" id="reviews">
	<div class="container">
		<div class="section__header">
			<h2 class="h2">Отзывы</h2>
		</div>

		<div class="reviews__wrapper section section--pb0 section--top-m">

			<div class="reviews__item">
				<div class="reviews__inner">
							<span class="copy__content">
								<span class="reviews__header flex">
									<span class="reviews__rating rating__value">
										<span class="f"></span>
										<span class="f"></span>
										<span class="f"></span>
										<span class="f"></span>
										<span class="f"></span>
									</span>
									<span class="reviews__rating_text">
										5/5
									</span>
								</span>
								<span class="reviews__content">
									<span class="reviews__title">Наталка К...</span>

										<div class="reviews__text text">
											<p>
												“Биполярное расстройство” мне казалось страшной выдумкой психологов. Ну скачет у человека настроение, что такого? Нельзя же быть постоянно милым, улыбчивым или сосредоточенным. Пока не столкнулась лично.
											</p>
											<p>
												Мой сын всегда хорошо учился, был собранным и активным мальчиком. Поэтому я не сразу обратила внимание на его усиленное домоседство, вспышки агрессии. Потом появилась апатия. Настроение начало меняться резко, прямо на глазах. Он забросил учебу. Мог нахамить и тут же чуть не начать плакать. Запирался в комнате.
											</p>
											<p>
												Как хорошо, что я обратилась в вашу клинику. Вы так легко нашли с мальчиком общий язык, подобрали препараты – я до сих пор удивляюсь. Нам до полного выздоровления еще далеко, но я вижу, что сын снова увлекся учебой. Большое спасибо за помощь.
											</p>
										</div>

								</span>
							</span>
				</div>
			</div>
			<div class="reviews__item">
				<div class="reviews__inner">
							<span class="copy__content">
								<span class="reviews__header flex">
									<span class="reviews__rating rating__value">
										<span class="f"></span>
										<span class="f"></span>
										<span class="f"></span>
										<span class="f"></span>
										<span class="f"></span>
									</span>
									<span class="reviews__rating_text">
										5/5
									</span>
								</span>
								<span class="reviews__content">
									<span class="reviews__title">Оля М...</span>

										<div class="reviews__text text">
											<p>
												Добрый день. Хочу поблагодарить за помощь в лечении.
											</p>
											<p>
												Когда у меня начались нарушения сна, я не придавала этому особого значения. Если особо тяжело было, пила снотворное – помогало. Временно. Потом меня перестало интересовать, что происходит вокруг. Такое мягкое равнодушие ко всему. Я связывала это с переутомлением на работе. Ведь работала консультантом по технике много лет и постоянно общалась с людьми. Потом потеряла работу, заперлась дома и вообще перестала контактировать с людьми. Никого не пускала в жизнь. А там и карантин начался. Я кое-как освоила удаленку и работала, чтоб было на что жить. Но когда моя работоспособность понизилась, я поняла, что со мной беда.
											</p>
											<p>
												Обратиться к вам посоветовала знакомая. Они с мужем прошли похожую проблему в прошлом и были довольны. Не скажу, что мне понравилась терапия, но я заставляла себя ходить, слушать и говорить. Пить препараты было противно, особенно ватное ощущение после. Но теперь, когда я снова активная и с хорошей работой, я понимаю, как это было нужно. Спасибо за помощь, хорошего дня.
											</p>

										</div>

								</span>
							</span>
				</div>
			</div>

		</div>

	</div>
</section>
