<style>

	.reviews__item {

	}
	@media (min-width: 768px) {
		.reviews__wrapper {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		.reviews__item {
			width: 48%;
		}
	}
</style>
<section class="section section--sky reviews" id="reviews">
    <div class="container">
        <div class="section__header">
            <h2 class="h2">Отзывы</h2>
        </div>

        <div class="reviews__wrapper section section--pb0 section--top-m">

                <div class="reviews__item">
                    <div class="reviews__inner">
								<span class="copy__content">
									<span class="reviews__header flex">
										<span class="reviews__rating rating__value">
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
										</span>
										<span class="reviews__rating_text">
											5/5
										</span>
									</span>
									<span class="reviews__content">
										<span class="reviews__title">Анна М...</span>

											<div class="reviews__text text">
												<p>
													Хотела бы поблагодарить клинику за помощь моей сестре. Мы уже не знали, что делать. Пропадала талантливая и умная девушка. Пережив нелегкое расставание, она пристрастилась к алкоголю. Ничего не могли сделать с алкогольной зависимостью.
												</p>
												<p>
													Обратились к вам, нам порекомендовали метод Довженка. Типа, он безопасный для организма и дает хорошие результаты. Сестра после долгих уговоров согласилась.
</p>
												<p>
													Пока что все отлично. Она нашла работу и собирается на свидание с парнем. Об алкоголе больше не думает. Зависимость прошла. Думает заняться спортом и меня подтянуть.
													<br>Еще раз спасибо
												</p>

											</div>

									</span>
								</span>
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="reviews__inner">
								<span class="copy__content">
									<span class="reviews__header flex">
										<span class="reviews__rating rating__value">
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
										</span>
										<span class="reviews__rating_text">
											5/5
										</span>
									</span>
									<span class="reviews__content">
										<span class="reviews__title">Виктроия Р...</span>

											<div class="reviews__text text">
												<p>
													Хочу сказать спасибо за то, что избавили моего мужа от алкогольной зависимости. Он раньше часто употреблял, еще до знакомства со мной. Когда мы с дочкой переехали к нему, пообещал, что больше пить не будет. Но все равно иногда уходил в запой.
												</p>
												<p>
													Чуть не потерял работу. Но проблему алкоголизма признавать не хотел. После долгих уговоров таки пошли в клинику. Доктор сразу поняла, что и к чему. Очень опытная женщина оказалась. Посоветовала вшивание импланта Эсперал, потому что это быстро и надежно. Мы согласились на процедуру. И муж пить перестал. Больше на алкоголь не смотрит. Еще раз спасибо.
												</p>

											</div>

									</span>
								</span>
                    </div>
                </div>

                <div class="reviews__item">
                    <div class="reviews__inner">
								<span class="copy__content">
									<span class="reviews__header flex">
										<span class="reviews__rating rating__value">
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
										</span>
										<span class="reviews__rating_text">
											5/5
										</span>
									</span>
									<span class="reviews__content">
										<span class="reviews__title">Дмитрий Р...</span>

											<div class="reviews__text text">
												<p>
													Хочу поблагодарить клинику и персонал за помощь в решении проблемы. Не мог расстаться с вредной привычкой пить спиртное.



												</p>
												<p>
												Несколько раз терял работу из-за того, что уходил в запой. Девушка после долгих отношений бросила, не хотела себе такой жизни.
												Как-то утром я решил, что так жить нельзя и обратился в вашу клинику. Мне предложили внутривенно ввести лекарство “Эспераль-гель”. Процедура не болезненная, почти без последствий, только температура немного поднялась, это быстро прошло.
												Лечение помогло, больше пить не хочется. Появилось какое-то отвращение к запаху спирта. Жизнь налаживается.
												</p>

											</div>

									</span>
								</span>
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="reviews__inner">
								<span class="copy__content">
									<span class="reviews__header flex">
										<span class="reviews__rating rating__value">
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
										</span>
										<span class="reviews__rating_text">
											5/5
										</span>
									</span>
									<span class="reviews__content">
										<span class="reviews__title">Михаил В...</span>

											<div class="reviews__text text">
												<p>
													Спасибо, что помогли спасти отца. Пил запоями, не просыхая. Вечно с соседями ругался, шумел. Мама в такие периоды ходила больная и уставшая. Еле уговорили пойти к специалистам. Нам предложили кодировку по методу Довженко. Мы сомневались, но доверились профессионалам. И помогло! Папа уже давно о рюмке не вспоминает. Снова дачей увлекся, там баню доделывает, хотя давно забросил идею. Даже помолодел немного. Мама не нарадуется, ходит цветущая. С соседями мы помирились. Все наладилось.

												</p>
												<p>
													Обратились к вам, нам порекомендовали метод Довженка. Типа, он безопасный для организма и дает хорошие результаты. Сестра после долгих уговоров согласилась.
												</p>


											</div>

									</span>
								</span>
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="reviews__inner">
								<span class="copy__content">
									<span class="reviews__header flex">
										<span class="reviews__rating rating__value">
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
										</span>
										<span class="reviews__rating_text">
											5/5
										</span>
									</span>
									<span class="reviews__content">
										<span class="reviews__title">Артур М...</span>

											<div class="reviews__text text">
												<p>
													Ужасно видеть друга детства, который скатывается в алкоголики. Это мерзкая зависимость, от которой вообще, кажется, нет спасения. Но я привел его в вашу клинику, нам предложили введение лекарства дисульфирам. Небольшой безболезненный укол и зависимость пропадет.

												</p>
												<p>
													Надо только следить, чтобы в лекарствах, например, или продуктах не было спирта. Стас согласился сделать укол и стал снова собой. Забыл о девушке, из-за которой, собственно, пить начал. Снова на велике гоняет, работает, девушек на свидания зовет. Я глядя на него и сам вообще пить перестал. Спасибо, что помогли спасти друга.
												</p>


											</div>

									</span>
								</span>
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="reviews__inner">
								<span class="copy__content">
									<span class="reviews__header flex">
										<span class="reviews__rating rating__value">
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
										</span>
										<span class="reviews__rating_text">
											5/5
										</span>
									</span>
									<span class="reviews__content">
										<span class="reviews__title">Юрий К...</span>

											<div class="reviews__text text">
												<p>
													Никогда бы не подумал, что моя жена, красавица и умница, пристрастится к алкоголю. Никто ничего не мог поделать. Она забросила себя, перестала развиваться. Семья для нее потеряла смысл. Я винил себя, а потом решил отвести ее в больницу. По совету доктора решились на вшивание импланта эсперал. Я не совсем понимаю, как он работает, но жена пить перестала. Огромное спасибо доктору. Без вашей помощи моя семья развалилась бы на части. Без жены семьи бы не было. Теперь у нас все хорошо, алкогольная зависимость осталась позади, как кошмарный сон. Всех благословений вам.
												</p>
											</div>

									</span>
								</span>
                    </div>
                </div>



        </div>

    </div>
</section>
