<div class="section section--pt0 section--white services services--alt" id="services">
	<div class="container">
		<div class="services__wrapper">
			<div class="services__items items">
				<div class="services__item item">
					<a href="/kodirovanie-ot-alkogolizma/" class="services__inner inner link">
		<span class="services__img img">
		    			<img src="/assets/cache_image/img/16-image-3sxou1_440x340_d6d.jpg"
							 alt="Кодування від алкоголізму">
		</span>
						<span class="services__title">
							Кодування від алкоголізму
						</span>
					</a>
				</div>
				<div class="services__item item">
					<a href="/narkolog-na-dom/" class="services__inner inner link">
		<span class="services__img img">
		    			<img src="/assets/cache_image/img/17-image-ga5qrv_440x340_d6d.jpg"
							 alt="Нарколог до дому">
		</span>
						<span class="services__title">
							Нарколог до дому
						</span>
					</a>
				</div>
				<div class="services__item item">
					<a href="/reabilitaczionnyij-czentr-dlya-alkogolikov/" class="services__inner inner link">
		<span class="services__img img">
		    			<img src="/assets/cache_image/img/18-image-khy3j6_440x340_d6d.jpg"
							 alt="Реабілітаційний центр для алкоголіків">
		</span>
						<span class="services__title">
							Реабілітаційний центр для алкоголіків
						</span>
					</a>
				</div>
				<div class="services__item item">
					<a href="/vyivod-iz-zapoya-na-domu/" class="services__inner inner link">
		<span class="services__img img">
		    			<img src="/assets/cache_image/img/19-image-scte43_440x340_d6d.jpg"
							 alt="Виведення із запою вдома">
		</span>
						<span class="services__title">
							Виведення із запою вдома
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>