<article class="section seo  ">
	<div class="container">
		<div class="section__header">
			<h2 class="h2 title-with-logo">
				Професійний анонімний наркологічний центр
			</h2>
		</div>
		<div class="seo__text text">
			<p>
				Кожен співробітник нашого реабілітаційного центру для алкоголіків і наркоманів пройшов навчання
				за спеціальністю "Реабілітація
				в наркології ". Також медперсонал "Пальміра" регулярно відвідує курси на Факультеті
				підвищення кваліфікації медичних працівників.
			</p>
			<p>
				Наша програма лікування від алкоголізму та наркоманії розроблена відповідно до стандартів
				Національного медичного дослідницького центру психіатрії та наркології. У наркологічній
				клініці "Пальміра" надається комплекс соціально-реабілітаційних послуг, здійснюється
				профілактика, організується стаціонарна, лабораторна реабілітація та постреабілітаційна
				підтримка людей, залежних від алкоголю та/або психоактивних речовин, створюються всі умови
				для відновлення психологічних, соціальних, фізичних та морально-моральних
				(ціннісних) складових людської особи.
			</p>
			<h3>
				Що таке Наркологічний центр Пальміра?
			</h3>
			<p>
				Медичний наркологічний центр у Києві - одне із структурних підрозділів
				наркологічної клініки Пальміра і спеціалізується на медичному лікуванні залежностей.
			</p>
			<p>
				Ми надаємо наступний перелік послуг:
			</p>
			<ul>
				<li>детоксикація</li>
				<li>виведення із запою</li>
				<li>зняття ломки</li>
				<li>кодування від алкоголю</li>
				<li>кодування від наркoтиків</li>
				<li><a href="/lechenie-alkogolizma/">реабілітаційний центр для алкоголіків</a>
				</li>
			</ul>
			<p>
				Для отримання більш детальної інформації, дзвоніть по телефону:
				<a href="tel:0935009085">
					093 500 90 85
				</a>
			</p>
			<p><span class="cols items cols--2">
					<span class="cols__item item">
						<a href="/img/1-image-1qcfs7.jpg" class="cols__inner inner img pic" data-fancybox="">
							<img src="/assets/cache_image/img/1-image-1qcfs7_670x280_a9a.jpg" alt="">
						</a>
					</span>
					<span class="cols__item item">
						<a href="/img/1-image-pm8b50.jpg" class="cols__inner inner img pic" data-fancybox="">
							<img src="/assets/cache_image/img/1-image-pm8b50_670x280_a9a.jpg" alt="">
						</a>
					</span>
				</span></p>
			<p>
				Анонімний Наркологічний центр представляє собою стаціонар для первинного етапу лікування
				алкоголізму та наркоманії. Цей етап відноситься до медикаментозної реабілітації алкозалежного
				або наркозалежного. У стаціонарі наркологічного центру виробляється детоксикація
				організму пацієнта. У разі алкоголізму це виведення із запою, крапельниця від алкоголю, в
				у разі наркоманії це зняття ламки і виведення з абстинентного стану медикаментозними
				методами.
			</p>
			<p>
				В обох випадках відбувається очистка організму пацієнта від отруйних речовин та відновлення
				організму вітамінами та зміцнюючими препаратами. Відбувається фізичне поліпшення стану
				організму, пропадає сильна тяга до вживання психоактивних речовин, покращується ясність
				свідомості. У кожного пацієнта період фізичного відновлення різний і може займати від
				3-х до 10-ї доби.
			</p>
			<p>
				Після очищення організму і проходження медикаментозного відновлення організму, вкрай
				настоятельно рекомендується проходження курсу психо-соціальної реабілітації в
				реабілітаційному центрі Пальміра. Медикаментозне втручання знімає лише фізичні
				наслідки вживання психоактивних речовин, але основна причина алкоголізму та наркоманії
				криється в психічному стані пацієнта та його соціалізації в суспільстві. Дякую
				психо-соціальної реабілітації, залежний змінює звичні патерни поведінки в суспільстві,
				змінює відношення до самого себе і вчиться знаходити альтернативні джерела радості та
				задовольнення без використання психоактивних речовин.
			</p>
			<p>
				Щоб отримати більш повну інформацію про етапи лікування наркоманії та алкоголізму, ви можете
				ознайомитися з відповідними розділами на даному сайті або дзвоніть по телефону
				093 500 90 85 і наші фахівці більш повно проконсультують вас по всіх питаннях
				щодо наркологічного центру Пальміра та реабілітаційного центру. Також ви можете
				домовитися про відвідування реабілітаційного центру і подивитись самостійно як живуть і
				проходять лікування пацієнти реабілітаційного та наркологічного центрів. Телефонуйте і залишайте
				заявку. Не відкладайте лікування ваших близьких людей, від цього залежить їхнє життя і ваше
				спокій.
			</p>
		</div>
	</div>
</article>