<div class="section advs section--white" id="advs">
	<div class="container">
		<div class="advs__warpper">
			<div class="advs__items items">
				<div class="advs__item item">
					<div class="advs__inner inner flex aic">
						<div class="advs__circle circle fill fill--green fill--not-active shrink">
							<div class="circle--img img">
								<img src="/img/ico/check.svg" alt="Індивідуальний підхід до лікування залежності">
							</div>
						</div>
						<div class="advs__text">
							Індивідуальний підхід
							до лікування залежності
						</div>
					</div>
				</div>
				<div class="advs__item item">
					<div class="advs__inner inner flex aic">
						<div class="advs__circle circle fill fill--green fill--not-active shrink">
							<div class="circle--img img">
								<img src="/img/ico/check.svg" alt="100% гарантія анонімного лікування">
							</div>
						</div>
						<div class="advs__text">
							100% гарантія анонімного лікування
						</div>
					</div>
				</div>
				<div class="advs__item item">
					<div class="advs__inner inner flex aic">
						<div class="advs__circle circle fill fill--green fill--not-active shrink">
							<div class="circle--img img">
								<img src="/img/ico/check.svg" alt="Эффективнoсть лечения бoлее 70%">
							</div>
						</div>
						<div class="advs__text">
							Эффективнoсть лечения бoлее 70%
						</div>
					</div>
				</div>
				<div class="advs__item item">
					<div class="advs__inner inner flex aic">
						<div class="advs__circle circle fill fill--green fill--not-active shrink">
							<div class="circle--img img">
								<img src="/img/ico/check.svg" alt="Ефективність лікування понад 70%">
							</div>
						</div>
						<div class="advs__text">
							Ефективність лікування понад 70%
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>