<div class="section news section--white" id="news">
    <div class="container">
        <div class="section__header">
            <h2 class="h2">
                Стати на тему: Лікування алкоголізму
            </h2>
        </div>
        <div class="news__wrapper">
            <div class="news__items items">
                <div class="news__item item">
                    <a href="/ua/chto-privodit-k-sryivu/" class="news__inner inner">
    		<span class="news__image img">
    		        			<img src="/assets/cache_image/img/0-image-xz5jvg_440x300_615.jpg" alt="">
    		</span>
                        <span class="news__title">
							Що призводить до зриву?
						</span>
                    </a>
                </div>

                <div class="news__item item">
                    <a href="/anonimnaya-pomoshh-alkogolikam/" class="news__inner inner">
    		<span class="news__image img">
    		        			<img src="/assets/cache_image/img/82-image-zt6iay_440x300_615.jpg" alt="">
    		</span>
                        <span class="news__title">
						Анонімна допомога алкоголікам
						</span>
                    </a>
                </div>

                <div class="news__item item">
                    <a href="/blokirovanie-alkogolnoj-zavisimosti/" class="news__inner inner">
    		<span class="news__image img">
    		        			<img src="/assets/cache_image/img/0-image-57o16k_440x300_615.jpg" alt="Блокування алкогольної залежності">
    		</span>
                        <span class="news__title">
                            Блокування алкогольної залежності
                        </span>
                    </a>
                </div>

                <div class="news__item item">
                    <a href="/chto-takoe-kodirovanie-ot-alkogolya/" class="news__inner inner">
    		<span class="news__image img">
    		        			<img src="/assets/cache_image/img/0-image-bzrx9j_440x300_615.jpg" alt="Що таке кодування від алкоголю">
    		</span>
                        <span class="news__title">
                            Що таке кодування від алкоголю
                        </span>
                    </a>
                </div>

                <div class="news__item item">
                    <a href="/sovremennoe-reshenie-problemyi/" class="news__inner inner">
    		<span class="news__image img">
    		        			<img src="/assets/cache_image/img/74-image-xp7wbo_440x300_615.jpg" alt="Сучасне вирішення проблеми">
    		</span>
                        <span class="news__title">
            Сучасне вирішення проблеми
                        </span>
                    </a>
                </div>

                <div class="news__item item">
                    <a href="/borba-s-alkogolnoj-zavisimostyu-pravda-o-kodirovanii/" class="news__inner inner">
                        <span class="news__image img">
                            <img src="/assets/cache_image/img/0-image-u073ah_440x300_615.jpg" alt="">
                        </span>
                        <span class="news__title">
                            Боротьба з алкогольною залежністю: правда про кодування
                        </span>
                    </a>
                </div>

                <div class="news__item item">
                    <a href="/primenenie-metodik-kodirovaniya-dlya-lecheniya-alkogolizma/"
                       class="news__inner inner">
    		            <span class="news__image img">
    		        			<img src="/assets/cache_image/img/72-image-vbet84_440x300_615.jpg" alt="Застосування методик кодування для лікування алкоголізму">
    		            </span>
                        <span class="news__title">
                            Застосування методик кодування для лікування алкоголізму
                        </span>
                    </a>
                </div>

                <div class="news__item item">
                    <a href="/spravitsya-s-zapojnyim-sostoyaniem-bez-uchastiya-vracha-tradiczionnaya-mediczina-i-narodnyie-reczeptyi/"
                       class="news__inner inner">
    		<span class="news__image img">
    		        			<img src="/assets/cache_image/img/71-image-n2bl1e_440x300_615.jpg" alt="Впоратися із запійним станом без участі лікаря: традиційна медицина та народні рецепти">
    		</span>
                        <span class="news__title">

                        </span>Впоратися із запійним станом без участі лікаря: традиційна медицина та народні рецепти
                    </a>
                </div>

                <div class="news__item item">
                    <a href="/samostoyatelnyij-vyixod-iz-zapoya-v-kakix-sluchayax-i-kakimi-metodami-eto-vozmozhno/"
                       class="news__inner inner">
    		<span class="news__image img">
    		        			<img src="/assets/cache_image/img/0-image-ad6xzy_440x300_615.jpg" alt="Самостійний вихід із запою: у яких випадках і якими методами це можливо">
    		</span>
                        <span class="news__title">

                        </span>
                    </a>
                </div>

                <div class="news__item item">
                    <a href="/kak-vyijti-iz-zapoya-pri-pomoshhi-speczialistov/" class="news__inner inner">
    		            <span class="news__image img">
    		        			<img src="/assets/cache_image/img/69-image-4c5spv_440x300_615.jpg" alt="Як вийти з запою за допомогою фахівців">
    		            </span>
                        <span class="news__title">
                            Як вийти з запою за допомогою фахівців
                        </span>
                    </a>
                </div>

                <div class="news__item item">
                    <a href="/effektivnaya-pomoshh-narkologa-na-domu-byistro-udobno-i-anonimno/"
                       class="news__inner inner">
    		            <span class="news__image img">
    		        			<img src="/assets/cache_image/img/50-image-j6ci20_440x300_615.jpg"
                                     alt="Ефективна допомога нарколога вдома: швидко, зручно і анонімно!">
    		            </span>
                        <span class="news__title">
                            Ефективна допомога нарколога вдома: швидко, зручно і анонімно!
                            </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>