<section class="section cities section--pt0">
    <div class="container">
        <div class="section__header center">
            <h2 class="h2">
                3 сучасних наркологічних клінік по всій Київській області
            </h2>
        </div>
        <div class="cities__wrapper">
            <div class="cities__slider slick-initialized slick-slider slick-dotted" id="citiesSlider">
                <div class="slick-list">
                    <div class="slick-track"
                         style="opacity: 1; width: 1946px; transform: translate3d(0px, 0px, 0px);">
                        <div class="cities__item slick-slide slick-current slick-active"
                             data-slick-index="0" aria-hidden="false" tabindex="0" role="tabpanel"
                             id="slick-slide20" aria-describedby="slick-slide-control20"
                        >
                            <div class="cities__inner">
                                <div class="cities__image img">
                                    <img src="/assets/cache_image/img/cities/1632918035_380x240_bd5.jpg"
                                         alt="Киев">
                                </div>
                                <div class="cities__content">
                                    <div class="cities__title">
                                        Київ
                                    </div>
                                    <div class="cities__rows">
                                        <div class="cities__row flex jcsb">
                                            <div class="cities__key">
                                                <span>
                                                    людей врятовано
                                            </span></div>
                                            <div class="cities__value"><span>570</span></div>
                                        </div>
                                        <div class="cities__row flex jcsb">
                                            <div class="cities__key">
                                                <span>
                                                    резидентів на реабілітації
                                                </span>
                                            </div>
                                            <div class="cities__value"><span>166</span></div>
                                        </div>
                                        <div class="cities__row flex jcsb">
                                            <div class="cities__key"><span>
                                            людей персоналу центру
                                            </span>
                                            </div>
                                            <div class="cities__value"><span>16</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cities__item slick-slide slick-active" data-slick-index="1"
                             aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide21"
                             aria-describedby="slick-slide-control21">
                            <div class="cities__inner">
                                <div class="cities__image img">
                                    <img src="/assets/cache_image/img/cities/1632918041_380x240_bd5.jpg"
                                         alt="Екатеринбург">
                                </div>
                                <div class="cities__content">
                                    <div class="cities__title">
                                        Київ
                                    </div>
                                    <div class="cities__rows">
                                        <div class="cities__row flex jcsb">
                                            <div class="cities__key"><span>
                                                людей врятовано
                                            </span></div>
                                            <div class="cities__value"><span>424</span></div>
                                        </div>
                                        <div class="cities__row flex jcsb">
                                            <div class="cities__key"><span>
                                                резидентів на реабілітації
                                            </span>
                                            </div>
                                            <div class="cities__value"><span>123</span></div>
                                        </div>
                                        <div class="cities__row flex jcsb">
                                            <div class="cities__key">
                                                <span>

                                            людина персоналу центру
                                            </span>
                                            </div>
                                            <div class="cities__value"><span>22</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
            <div class="cities__nav section section--pb0 section--top-s">
                <div class="nav flex aic jcc" id="citiesSliderNav">
                    <button
                            class="arrow arrow--prev circle fill fill--blue slick-arrow slick-disabled"
                            aria-disabled="true" style=""><span class="img circle--img"><img
                            src="/img/ico/arrow_left.svg" alt=""></span></button>
                    <div class="nav__dots" id="citiesSliderDots">
                        <ul class="slick-dots" style="" role="tablist">
                            <li class="slick-active" role="presentation">
                                <button type="button" role="tab"
                                        id="slick-slide-control20" aria-controls="slick-slide20"
                                        aria-label="1 of 2" tabindex="0" aria-selected="true">1
                                </button>
                            </li>
                            <li role="presentation">
                                <button type="button" role="tab"
                                        id="slick-slide-control21" aria-controls="slick-slide21"
                                        aria-label="2 of 2" tabindex="-1">2
                                </button>
                            </li>
                            <li role="presentation">
                                <button type="button" role="tab"
                                        id="slick-slide-control22" aria-controls="slick-slide22"
                                        aria-label="3 of 2" tabindex="-1">3
                                </button>
                            </li>
                            <li role="presentation">
                                <button type="button" role="tab"
                                        id="slick-slide-control23" aria-controls="slick-slide23"
                                        aria-label="4 of 2" tabindex="-1">4
                                </button>
                            </li>
                        </ul>
                    </div>
                    <button
                            class="arrow arrow_mobile arrow--prev circle fill fill--blue slick-arrow slick-disabled"
                            aria-disabled="true" style=""><span class="img circle--img"><img
                            src="/img/ico/arrow_left.svg" alt=""></span></button>
                    <button class="arrow arrow_mobile arrow--next circle fill fill--blue slick-arrow"
                            style="" aria-disabled="false"><span class="img circle--img"><img
                            src="/img/ico/arrow_right.svg" alt=""></span></button>
                    <button class="arrow arrow--next circle fill fill--blue slick-arrow" style=""
                            aria-disabled="false"><span class="img circle--img"><img
                            src="/img/ico/arrow_right.svg" alt=""></span></button>
                </div>
            </div>
        </div>
    </div>
</section>