

<section class="section section--pb0 doctor" id="doctor">
	<div class="container">
		<div class="section__header center">
			<h2 class="h2">
				Лікарі нашої клініки
			</h2>
		</div>
		<div class="doctor__wrapper">
			<div class="doctor__slider" id="doctorSlider">
				<div>
					<div>
						<div class="doctor__item item ">
							<div class="doctor__inner inner flex fdc jcsb">
								<div class="doctor__photo img shrink">
									<img src="/assets/doc/popandopulo.jpeg"
										 alt="Попандопуло Павло Миколович">
								</div>
								<div class="doctor__content flex fdc jcsb">
									<div>
										<div class="doctor__name">
											Попандопуло Павло
											<br> Миколович
										</div>
										<div class="doctor__position">
											Нарколог-психіатр, головний лікар
										</div>
									</div>
									<div class="doctor__bottom">
										<!--										<a href="/img/"-->
										<!--											class="doctor__btn btn fill fill&#45;&#45;white" data-fancybox="doctor_46"-->
										<!--											tabindex="0">-->
										<!--											<span>Смoтреть диплoм</span>-->
										<!--										</a>-->
									</div>
								</div>
							</div>
						</div>
						<div class="doctor__item item">
							<div class="doctor__inner inner flex fdc jcsb">
								<div class="doctor__photo img shrink">
									<img src="/assets/doc/feschuk.jpg"
										 alt="Фещук Павло Петрович">
								</div>
								<div class="doctor__content flex fdc jcsb">
									<div>
										<div class="doctor__name">
											Фещук Павло Петрович
										</div>
										<div class="doctor__position">
											Нарколог – психіатр, анестезіолог.
										</div>
									</div>
									<div class="doctor__bottom">
										<!--										<a href="/img/"-->
										<!--											class="doctor__btn btn fill fill&#45;&#45;white" data-fancybox="doctor_68"-->
										<!--											tabindex="0">-->
										<!--											<span>Смoтреть диплoм</span>-->
										<!--										</a>-->
									</div>
									<div class="hidden">
										<!--										<a href="/img/" alt="" data-fancybox="doctor_68"-->
										<!--											tabindex="0"></a>-->
									</div>
								</div>
							</div>
						</div>
						<div class="doctor__item item">
							<div class="doctor__inner inner flex fdc jcsb">
								<div class="doctor__photo img shrink">
									<img src="/assets/doc/dihtyar.jpeg"
										 alt="Діхтяр Наталія Андріївна">
								</div>
								<div class="doctor__content flex fdc jcsb">
									<div>
										<div class="doctor__name">
											Дихтяр Наталья Андреевна
										</div>
										<div class="doctor__position">
											Старша медична
											сестра.
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="doctor__item item">
							<div class="doctor__inner inner flex fdc jcsb">
								<div class="doctor__photo img shrink">
									<img src="/assets/doc/afanaseva.jpeg"
										 alt="Афанасьєва Яна Петрівна">
								</div>
								<div class="doctor__content flex fdc jcsb">
									<div>
										<div class="doctor__name">
											Афанасьєва Яна Петрівна
										</div>
										<div class="doctor__position">
											Афанасьєва Яна Петрівна
										</div>
									</div>
									<div class="doctor__bottom">
										<!--										<a href="/img/"-->
										<!--											class="doctor__btn btn fill fill&#45;&#45;white" data-fancybox="doctor_48"-->
										<!--											tabindex="0">-->
										<!--											<span>Смoтреть диплoм</span>-->
										<!--										</a>-->
									</div>
									<div class="hidden">
										<!--										<a href="/img/" alt="" data-fancybox="doctor_48"-->
										<!--											tabindex="0"></a>-->
									</div>
								</div>
							</div>
						</div>
						<div class="doctor__item item ">
							<div class="doctor__inner inner flex fdc jcsb">
								<div class="doctor__photo img shrink">
									<img src="/assets/doc/makarovec.jpeg"
										 alt="Сакарівець Олексій Ігоревич">
								</div>
								<div class="doctor__content flex fdc jcsb">
									<div>
										<div class="doctor__name">
											Сакарівець Олексій <br>
											Ігоревич
										</div>
										<div class="doctor__position">
											Психолог
											аддиктолог.
										</div>
									</div>
								</div>
							</div>
						</div>


					</div>
				</div>


			</div>

		</div>
	</div>
</section>