<style>
	@media (min-width: 768px) {
		.reviews__wrapper {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		.reviews__item {
			width: 48%;
		}
	}
</style>
<section id="reviews" class="section section--sky reviews">
    <div class="container">
        <div class="section__header ">
            <h2 class="h2">Відгуки</h2>
        </div>
        <div class="reviews__wrapper section section--pb0 section--top-m">

            <div class="reviews__item">
                <div class="reviews__inner">
								<span class="copy__content">
									<span class="reviews__header flex">
										<span class="reviews__rating rating__value">
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
										</span>
										<span class="reviews__rating_text">
											5/5
										</span>
									</span>
									<span class="reviews__content">
										<span class="reviews__title">Таня М...</span>

											<div class="reviews__text text">
												<p>
													Хочу поблагодарить доктора и всю клинику, где с пониманием отнеслись к нашей проблеме.

												</p>
												<p>
													Мой муж всегда был трудолюбивым, активным, напористым. Но что-то в нем сломалось и наша жизнь покатилась вниз. Алкоголь зло, я всегда знала это. Никогда не думала, что придется убедиться на собственном примере.
												</p>
												<p>
													Начиналось все невинно, с пива под футбол. Но таких вечеров становилось все больше, количество спиртного увеличивалось. Потом пошли более крепкие напитки. Муж стал апатичным, меньше интересовался работой и семьей. Буквально с каждым днем становилось все хуже. Он начал пропадать на целые ночи, возвращаться в жутком виде.
												</p>
												<p>
													Сперва я хотела забрать ребенка и уйти. Но решила попробовать еще раз побороться за нашу семью и обратилась в вашу клинику. Не представляю, как, но доктор нашел подход к мужу. Уговорил на детоксикацию, кодировку. Походить в группу психологической помощи. И это сработало. Мой муж пока не совсем тот, что был раньше. Но прогресс на лицо. Желаю вашей клинике процветания и глубоко кланяюсь.
												</p>

											</div>

									</span>
								</span>
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__inner">
								<span class="copy__content">
									<span class="reviews__header flex">
										<span class="reviews__rating rating__value">
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
										</span>
										<span class="reviews__rating_text">
											5/5
										</span>
									</span>
									<span class="reviews__content">
										<span class="reviews__title">Тарас В...</span>

											<div class="reviews__text text">
												<p>
                                                Добрий день.
                                                <br>
                                                Хочу залишити відгук подяки за допомогу із сином. Я вже не вірив, що хлопця можна витягнути, але ви справжні професіонали, які зробили неможливе.

                                                </p>
                                                <p>
                                                Не уявляю, де син скуштував наркотики і як це сталося. Начебто спортсмен, музикант. Ходив у гуртки. Хотів стати відомим, виступати на великих сценах України. А потім в один час втратив інтерес до спорту та музики. Ходив гуляти з дивними компаніями, носити мішкуватий одяг, замикатися в кімнаті. Мати цілодобово плакала, бо не могла знайти підходу до незнайомого для неї хлопця. Я все їй казав, що сина треба замкнути та контролювати кожен його крок. Добре, що вона мене не послухала. І вмовила звернутися до вашої клініки.
                                                </p>
                                                <p>
                                                Нарколог виїхав одразу, як ми зателефонували. Швидко оцінив обстановку та одразу розписав стадії лікування. Відправив на стаціонар очищати організм від інфекції. На його наполягання ми змінюємо місце проживання. Хочеться переїхати в інше місто, але поки що не час. Та й син ходить до групи підтримки.
                                                <br>
                                                Спасибі за допомогу.

                                                </p>

											</div>

									</span>
								</span>
                </div>
            </div>

            <div class="reviews__item">
                <div class="reviews__inner">
								<span class="copy__content">
									<span class="reviews__header flex">
										<span class="reviews__rating rating__value">
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
										</span>
										<span class="reviews__rating_text">
											5/5
										</span>
									</span>
									<span class="reviews__content">
										<span class="reviews__title">Богдана В...</span>

											<div class="reviews__text text">
                                                <p>
                                                Добрий день. Дякую, що допомогли позбутися тривожних розладів. Без вашої допомоги я навіть не зрозуміла б, що це зі мною. І, звичайно, не лікувала б захворювання, дозволивши йому перетворитися на тяжку хворобу.
                                                </p>
                                                <p>
                                                Україна переживає непростий час, ми постійно на стрес. Але одні люди легко сприймають те, що відбувається. Відновлюють своє життя, наскільки виходить. Інші, як я: обзаводяться всякими дивними і психологічними недугами. Я сама ніколи не надала б значення тому, що стала замкнута, почала прокидатися ночами, потіти і відчувати, як серце шалено колотиться. Сусідка порадила сходити до терапевта, а той направив мене до вас. Виявилося, що маю тривожні розлади.
                                                </p>
                                                <p>
                                                Поради, які давав ваш психіатр, здавались дивними. Дихати, ходити в душ, бігати або просто кричати в подушку. Але це допомогло. Лікар сказав, що прогрес в наявності і скоро від тривоги не залишиться і сліду. Зможу знову почати жити нормальним життям. Дякую.
                                                </p>

                                            </div>
									</span>
								</span>
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__inner">
								<span class="copy__content">
									<span class="reviews__header flex">
										<span class="reviews__rating rating__value">
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
										</span>
										<span class="reviews__rating_text">
											5/5
										</span>
									</span>
									<span class="reviews__content">
										<span class="reviews__title">Ігор К...</span>

											<div class="reviews__text text">
												<p>
                                                ПТСР – страшний діагноз. Мені хотілося б, щоб ніхто не отримував його. І, тим більше, дізнавався про рецидив.<br>
                                                Сім років тому я вже лікувався від цього захворювання. Антидепресанти, від яких світ довкола перетворюється на вату. Відновлювальні препарати. Нескінченні сеанси у психолога. Здавалося, я назавжди вилікувався, але ні. Прийшла біда. Усі кошмари повернулися з сон та життя. Знову ця їдка недовірливість до всіх, бажання відсторонитися та сховатися. Знову страх, який паралізує в невідповідний момент.

                                                </p>
                                                <p>
                                                До вашої клініки я звернувся зовсім недавно. Психіатр швидко підібрав мені нормальні антидепресанти, набагато кращі за попередні. Я можу вести нормальне життя і навіть цікавитись оточуючим. Тривожність поки що не пройшла, але недовіри до кожної тіні як не було. Відчувається професіоналізм фахівця. Упевнений, у вашій клініці я набагато швидше приведу себе до ладу. Дякую.
                                                </p>


											</div>

									</span>
								</span>
                </div>
            </div>



        </div>
    </div>
</section>