<style>

	.reviews__item {

	}
	@media (min-width: 768px) {
		.reviews__wrapper {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		.reviews__item {
			width: 48%;
		}
	}
</style>
<section class="section section--sky reviews" id="reviews">
	<div class="container">
		<div class="section__header">
			<h2 class="h2">Відгуки</h2>
		</div>

		<div class="reviews__wrapper section section--pb0 section--top-m">

			<div class="reviews__item">
				<div class="reviews__inner">
							<span class="copy__content">
								<span class="reviews__header flex">
									<span class="reviews__rating rating__value">
										<span class="f"></span>
										<span class="f"></span>
										<span class="f"></span>
										<span class="f"></span>
										<span class="f"></span>
									</span>
									<span class="reviews__rating_text">
										5/5
									</span>
								</span>
								<span class="reviews__content">
									<span class="reviews__title">Оксана М...</span>

										<div class="reviews__text text">
											<p>
												Хочу поділитися враженнями і просто виговоритись.
											</p>
											Дякую велику клініку, яка допомогла мені повернути доньку. Наркотики – найкошмарніше, що створила людина. Ця гидота вбиває повільно і порятунок знайти важко. Моя дівчинка, така розумна та талановита, потрапила під вплив свого колишнього хлопця. Він запропонував їй спробувати трохи кайфу та підсадив її на наркотичну залежність. Цей тип знищив стосунки зі своєю сім'єю і мало не зруйнував наші, які ми будували від народження дочки. Ми завжди мали щирі стосунки, тож моя дівчинка поділилася зі мною своєю проблемою.
											</p>
											<p>
												Ми одразу звернулися до вашої клініки. Пройшли очищення організму, терапію та психологів. Як ви радили, змінили місце проживання та назавжди забули про колишнього хлопця. Правда, я дуже хвилююся, щоб він не знайшов мою дівчинку і знову не почав підбивати її на вживання. Адже після лікування дочка так тяжко відновлюється. Ще раз дякую за допомогу.
											</p>
										</div>

								</span>
							</span>
				</div>
			</div>
			<div class="reviews__item">
				<div class="reviews__inner">
							<span class="copy__content">
								<span class="reviews__header flex">
									<span class="reviews__rating rating__value">
										<span class="f"></span>
										<span class="f"></span>
										<span class="f"></span>
										<span class="f"></span>
										<span class="f"></span>
									</span>
									<span class="reviews__rating_text">
										5/5
									</span>
								</span>
								<span class="reviews__content">
									<span class="reviews__title">Віктор М...</span>

										<div class="reviews__text text">
											<p>
												Дякую, що повернули мене до життя. Тільки після лікування я зрозумів, у якому болоті жив. Наркотики – це не про кайф. Це про смерть. До вживання я був непоганим художником, а потім щось пішло не так. Наркотики не допомагають фантазії, вони її убивають. Я викинув усі полотна, які писав за часів залежності, там суцільний жах. Зараз після лікування я пишу зовсім інше, світле. Хочу одного разу зробити виставку.
											</p>
											<p>
												Тяжко було звернутися до клініки за лікуванням. Все здавалося, що все саме пройде, і я зможу позбутись залежності. Навіть коли дівчина пішла і сестра перестала спілкуватися, я думав, що все налагодиться. Тепер я розумію, як це було безнадійно. Особливо ці спалахи агресії.
											</p>
											<p>
												Обов'язково візьму участь у ваших групах підтримки, розповім, як складно, але важливо наважитися на лікування залежності. Дякую.
											</p>

										</div>

								</span>
							</span>
				</div>
			</div>

		</div>

	</div>
</section>
