<style>

	.reviews__item {

	}
	@media (min-width: 768px) {
		.reviews__wrapper {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		.reviews__item {
			width: 48%;
		}
	}
</style>
<section class="section section--sky reviews" id="reviews">
	<div class="container">
		<div class="section__header">
			<h2 class="h2">Відгуки</h2>
		</div>

		<div class="reviews__wrapper section section--pb0 section--top-m">

			<div class="reviews__item">
				<div class="reviews__inner">
							<span class="copy__content">
								<span class="reviews__header flex">
									<span class="reviews__rating rating__value">
										<span class="f"></span>
										<span class="f"></span>
										<span class="f"></span>
										<span class="f"></span>
										<span class="f"></span>
									</span>
									<span class="reviews__rating_text">
										5/5
									</span>
								</span>
								<span class="reviews__content">
									<span class="reviews__title">Наталка К...</span>

										<div class="reviews__text text">
											<p>
												"Біполярний розлад" мені здавалося страшною вигадкою психологів. Ну скаче в людини настрій, що такого? Не можна бути постійно милим, усміхненим або зосередженим. Допоки не зіткнулася особисто.
											</p>
											<p>
												Мій син завжди добре навчався, був зібраним та активним хлопчиком. Тому я не одразу звернула увагу на його посилене домосідство, спалахи агресії. Потім з'явилася апатія. Настрій почав змінюватись різко, прямо на очах. Він закинув навчання. Міг нахамити і відразу мало не почати плакати. Замикався у кімнаті.
											</p>
											<p>
												Як добре, що я звернулася до вашої клініки. Ви так легко порозумілися з хлопчиком, підібрали препарати – я досі дивуюся. Нам до повного одужання ще далеко, але я бачу, що син знову захопився навчанням. Велике дякую за допомогу.
											</p>
										</div>

								</span>
							</span>
				</div>
			</div>
			<div class="reviews__item">
				<div class="reviews__inner">
							<span class="copy__content">
								<span class="reviews__header flex">
									<span class="reviews__rating rating__value">
										<span class="f"></span>
										<span class="f"></span>
										<span class="f"></span>
										<span class="f"></span>
										<span class="f"></span>
									</span>
									<span class="reviews__rating_text">
										5/5
									</span>
								</span>
								<span class="reviews__content">
									<span class="reviews__title">Оля М...</span>

										<div class="reviews__text text">
											<p>
												Добрий день. Хочу подякувати за допомогу у лікуванні.
											</p>
											<p>
												Коли у мене почалися порушення сну, я не надавала цьому особливого значення. Якщо особливо тяжко було, пила снодійне – допомагало. Тимчасово. Потім мене перестало цікавити, що відбувається довкола. Така м'яка байдужість до всього. Я пов'язувала це з перевтомою на роботі. Адже працювала консультантом з техніки багато років і постійно спілкувалася з людьми. Потім втратила роботу, замкнулася вдома та взагалі перестала контактувати з людьми. Нікого не пускала у життя. А там і карантин розпочався. Я абияк освоїла віддалення і працювала, щоб було на що жити. Але коли моя працездатність знизилася, я зрозуміла, що зі мною біда.
											</p>
											<p>
												Звернутися до вас порадила знайома. Вони з чоловіком пройшли схожу проблему у минулому та були задоволені. Не скажу, що мені сподобалася терапія, але я змушувала себе ходити, слухати та говорити. Пити препарати було гидко, особливо в'яле відчуття після. Але тепер, коли я знову активна та з хорошою роботою, я розумію, як це було потрібно. Дякую за допомогу, гарного дня.
											</p>

										</div>

								</span>
							</span>
				</div>
			</div>

		</div>

	</div>
</section>
