<style>

    .reviews__item {

    }
    @media (min-width: 768px) {
        .reviews__wrapper {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .reviews__item {
            width: 48%;
        }
    }
</style>
<section class="section section--sky reviews" id="reviews">
    <div class="container">
        <div class="section__header">
            <h2 class="h2">Відгуки</h2>
        </div>

        <div class="reviews__wrapper section section--pb0 section--top-m">

            <div class="reviews__item">
                <div class="reviews__inner">
								<span class="copy__content">
									<span class="reviews__header flex">
										<span class="reviews__rating rating__value">
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
										</span>
										<span class="reviews__rating_text">
											5/5
										</span>
									</span>
									<span class="reviews__content">
										<span class="reviews__title">Анна М...</span>

											<div class="reviews__text text">
												<p>
												Хотіла б подякувати клініці за допомогу моїй сестрі. Ми вже не знали, що робити. Пропадала талановита та розумна дівчина. Переживши нелегке розставання, вона звикла до алкоголю. Нічого не могли зробити з алкогольною залежністю.
												</p>
												<p>
												Звернулися до вас, нам порекомендували метод Довженко. Типу він безпечний для організму і дає хороші результати. Сестра після довгих умовлянь погодилася.
																								</p>
												<p>
												Поки що все чудово. Вона знайшла роботу і збирається побачити з хлопцем. Про алкоголь більше не думає. Залежність пройшла. Думає зайнятися спортом та мене підтягнути.
												<br>Ще раз дякую
												</p>

											</div>

									</span>
								</span>
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__inner">
								<span class="copy__content">
									<span class="reviews__header flex">
										<span class="reviews__rating rating__value">
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
										</span>
										<span class="reviews__rating_text">
											5/5
										</span>
									</span>
									<span class="reviews__content">
										<span class="reviews__title">Вікторія Р...</span>

										<div class="reviews__text text">
										<p>
										Хочу сказати спасибі за те, що врятували мого чоловіка від алкогольної залежності. Він раніше часто вживав ще до знайомства зі мною. Коли ми з донькою переїхали до нього, пообіцяв, що більше не питиме. Але все одно іноді йшов у запій.
										</p>
										<p>
										Ледве не втратив роботу. Але проблему алкоголізму визнавати не хотів. Після довгих умовлянь таки пішли до клініки. Лікар одразу зрозуміла, що й до чого. Дуже досвідчена жінка виявилася. Порадила вшивання імпланта Есперал, бо це швидко та надійно. Ми погодились на процедуру. І чоловік пити перестав. Більше на алкоголь не дивиться. Ще раз дякую.
										</p>

										</div>

									</span>
								</span>
                </div>
            </div>

            <div class="reviews__item">
                <div class="reviews__inner">
								<span class="copy__content">
									<span class="reviews__header flex">
										<span class="reviews__rating rating__value">
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
										</span>
										<span class="reviews__rating_text">
											5/5
										</span>
									</span>
									<span class="reviews__content">
										<span class="reviews__title">Дмитро Р...</span>

											<div class="reviews__text text">
												<p>
												Хочу подякувати клініці та персоналу за допомогу у вирішенні проблеми. Не міг розлучитися зі шкідливою звичкою пити спиртне.



												</p>
												<p>
												Кілька разів втрачав роботу через те, що йшов у запій. Дівчина після довгих стосунків покинула, не хотіла собі такого життя.
												Якось уранці я вирішив, що так жити не можна і звернувся до вашої клініки. Мені запропонували внутрішньовенно ввести ліки "Еспераль-гель". Процедура не болісна, майже без наслідків, тільки температура трохи піднялася, це швидко минулося.
												Лікування допомогло, більше пити не хочеться. З'явилася якась огида до запаху спирту. Життя налагоджується.
												</p>

											</div>

									</span>
								</span>
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__inner">
								<span class="copy__content">
									<span class="reviews__header flex">
										<span class="reviews__rating rating__value">
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
										</span>
										<span class="reviews__rating_text">
											5/5
										</span>
									</span>
									<span class="reviews__content">
										<span class="reviews__title">Мизайло В...</span>

											<div class="reviews__text text">
												<p>
												Дякую, що допомогли врятувати батька. Пив запоями, не просихаючи. Вічно з сусідами лаявся, шумів. Мама в такі періоди ходила хвора та втомлена. Ледве вмовили піти до фахівців. Нам запропонували кодування за методом Довженка. Ми сумнівалися, але довірилися фахівцям. І допомогло! Тато вже давно про чарку не згадує. Знову дачею захопився, там лазню доробляє, хоч давно закинув ідею. Навіть помолодшав трохи. Мама не натішиться, ходить квітуча. Із сусідами ми помирилися. Все налагодилось.

												</p>
												<p>
												Звернулися до вас, нам порекомендували метод Довженко. Типу він безпечний для організму і дає хороші результати. Сестра після довгих умовлянь погодилася.
												</p>

											</div>

									</span>
								</span>
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__inner">
								<span class="copy__content">
									<span class="reviews__header flex">
										<span class="reviews__rating rating__value">
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
										</span>
										<span class="reviews__rating_text">
											5/5
										</span>
									</span>
									<span class="reviews__content">
										<span class="reviews__title">Артур М...</span>

										<div class="reviews__text text">
											<p>
											Жахливо бачити друга дитинства, який скочується в алкоголіки. Це мерзенна залежність, від якої взагалі, здається, немає порятунку. Але я привів його до вашої клініки, нам запропонували введення ліків дисульфірам. Невеликий безболісний укол та залежність пропаде.

											</p>
											<p>
											Треба тільки стежити, щоб у ліках, наприклад, чи продуктах не було спирту. Стас погодився зробити укол і знову став собою. Забув про дівчину, через яку, власне, почав пити. Знову на велетні ганяє, працює, дівчат на побачення кличе. Я дивлячись на нього і сам узагалі пити перестав. Дякую, що допомогли врятувати друга.
											</p>


										</div>

									</span>
								</span>
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__inner">
								<span class="copy__content">
									<span class="reviews__header flex">
										<span class="reviews__rating rating__value">
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
											<span class="f"></span>
										</span>
										<span class="reviews__rating_text">
											5/5
										</span>
									</span>
									<span class="reviews__content">
										<span class="reviews__title">Юрій К...</span>

										<div class="reviews__text text">
											<p>
											Ніколи б не подумав, що моя дружина, красуня і розумниця, пристраститься до алкоголю. Ніхто нічого не міг вдіяти. Вона закинула себе, перестала розвиватись. Сім'я для неї втратила сенс. Я звинувачував себе, а потім вирішив відвести її до лікарні. За порадою лікаря зважилися на вшивання імпланту есперал. Я не зовсім розумію, як він працює, але дружина перестала пити. Велике дякую лікарю. Без вашої допомоги моя сім'я розвалилася б на частини. Без дружини сім'ї не було б. Тепер у нас все добре, алкогольна залежність залишилася позаду, як кошмарний сон. Усіх благословень вам.
											</p>
										</div>

									</span>
								</span>
                </div>
            </div>



        </div>

    </div>
</section>


