body {
  min-height: 200vh;
  font-family: 'Open Sans', sans-serif;

}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;

}
.container {
  width: 1024px;
  max-width: 90%;
  margin: 0 auto 20px auto;
  padding: 20px;
}
.button {
  background: orange;
  color: #000;
  display: inline-block;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
}
body {
  font-family: sans-serif;
}

.logo-text {
  font-size: 30px;
  color: black;
}
